<%= link_to question_small.title, question_small %></a>
<ul>
	<li><%= link_to '0 Comments and 0 Reactions', question_path(question_small) + '#disqus_thread' %></li>
	<li><%= link_to '0 Appreciated', question_small %></li>
</ul>
