<div class="section">
	<div class="heading">
		<ul>
			<li><a href="#"><%= question.category.capitalize %></a></li>
		</ul>
	</div>
	<h3><%= link_to question.title, question %></h3>
	<% if question.has_answers? %>
	<% answer = question.answers.first %>
	<%= render answer %>
  
	<% else %>
	<div class="section-holder">
		<ul>
			<li><%= link_to "ADD YOUR ANSWER",  new_question_answer_path(question) %></a></li>
		</ul>
	</div>
	<% end %>
</div>
