<div id="sidebar">
  <strong class="decor"><span>START SHARING YOUR EXPERTISE!</span></strong>
	<div class="textbox">
	  <p>Don’t see any questions related to your expertise yet? Go ahead and create <b>Frequently Asked Questions</b> here as part of your homepage. The goal for each Q&A page is that it becomes the best source for anyone looking for the answer on a specific topic.</p>
	  <p>Entrepreneurs have lots of different questions. They probably have questions about the subjects that you know best. That’s an opportunity for you and your organization. The advantage of Azurie is the quality of the experts answering questions and the answers being provided.</p>
	</div>
	<strong class="decor"><span>Q&A GUIDELINE</span></strong>
	<div class="textbox">
		<strong>What makes a good question?</strong>
		<ul>
			<li>
				<span>1.</span>
				<p>Good questions always ask "why?" and request narrative answer. A good question on Azurie seeks to understand the underlying rationale for answers, not just the answer itself.</p>
			</li>
			<li>
				<span>2.</span>
				<p>Good questions are sufficiently open-ended. For example, "Are there any iPhone calendar apps?" should be phrased "What are the calendar apps for the iPhone?"</p>
			</li>
			<li>
				<span>3.</span>
				<p>Avoid using the second person (questions generally should not include the word "you”). Those words suggest that the question is soliciting the opinion of a single user. Example: "Do you think that company founders should negotiate a controlling stake with investors?" should be written as "Should founders negotiate controlling stakes with investors?" because the latter form usually ends up generating better, more useful, answers.</p>
			</li>
			<li>
				<span>4.</span>
				<p>Give your question enough context so that anyone can understand what you’re asking, regardless of when or where they answer your question.</p>
			</li>
			<li>
				<span>5.</span>
				<p>Polling (yes-or-no) or survey types of questions that seek a one word are not allowed on Azurie</p>
			</li>
			<li>
				<span>6.</span>
				<p>Use proper spelling, capitalization, and grammar.</p>
			</li>
		</ul>
		<strong>What makes a good answer?</strong>
		<ul>
		  <li>
				<span>1.</span>
				<p>Be clear and succinct. Azurie is about breaking up large quantity of information into more digestible content. Answers are to the point, ideally 80 words max, with an option to elaborate on the subject matter if necessary.</p>
		  </li>
		  <li>
				<span>2.</span>
				<p>A good answer on Azurie explains the underlying rationale for answers, not just the answer itself.</p>
		  </li>
		  <li>
				<span>3.</span>
				<p>Be a resource, not a sales clerk. Lets keep the conversations add free.</p>
		  </li>
		  <li>
				<span>4.</span>
				<p>Be a connector. Sometimes you don’t have the answer, but you know just the person who does. Rather than making something up, make the referral. Provide a quote and a link to another source.</p>
		  </li>
		</ul>
		<p>The bottom line is that being helpful is a great way to gain trust. And when people trust you, they’re more comfortable doing business with you.</p>
		<strong>Make book, blog or article referrals (optional)</strong>
		<p>You may refer to a book, blog or any other source by adding the name, author, and
link in the designated fields below the answer.</p>
	</div>
</div>
