<div id="content">
  <ul class="naving">
    <li><a href="#"><%= t '.add_question' %><% if can? :create, Answer %> <%= t '.and_answer' %><% end %></a></li>
  </ul>
<%= render 'form' %>
</div>

<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>
