<div id="content">
<ul class="naving">
  <li><span>REQUEST AN INVITATION TO AZURIE</span></li>
</ul>

<p>Azurie beta is currently testing the site with a small number of people. Leave us your email address and we’ll make sure you’re the first to know when we’re ready to invite more people.</p>

<%= form_tag fakereg_users_path do %>
<fieldset>
  <div class="form-section">
    <label>Your email</label>
    <%= email_field_tag :email, nil, :class => 'size1' %>
  </div>
  <div class="form-section">
    <label>Your name</label>
    <%= text_field_tag :about, nil, :class => 'size1' %>
  </div>
  <div class="form-section">
    <%= submit_tag 'Submit' %>
  </div>
</fieldset>
<% end %>
</div>