<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>The question was assigned to you on Azurie</h1>
    <p>
      The question titled "<%= @assignment.question.title %>" was assigned
      to you on <a href='http://azurie.com/'>Azurie</a>
    </p>
  </body>
</html>
