<p><b>You Have Been Invited to Become an Expert on Azurie!</b></p>
<p>Press this link to <%= link_to 'accept the invitation', accept_invitation_url(@user, :invitation_token => @user.invitation_token) %> and create your account.</p>
<p>Azurie's mission is to slash through the Web's jungle of information on startups to reveal the top experts, the brightest ideas and the edgiest products from around the world.</p>
<p>Through one-on-one interviews with leading entrepreneurs and Q&A sessions from expert panels, Azurie acts as a media hub for new entrepreneurs to learn, gain inspiration and connect with their peers — all while promoting the underground sensations whose prowess has yet to be recognized.</p>
<p><b>Your role:</b></p>
<p>We are requesting that you join our select group of experts to share your story — successes and failures — with the wider global community of future entrepreneurs. You will have direct control over the content, which will be used to cultivate entrepreneurship in emerging markets around the world.* You will thus become the center of a network, receiving media exposure to the growing entrepreneurial circles in the world’s fastest-developing regions.</p>
<p><b>What now?</b></p>
<p>Start out by creating your profile, and make your presence known by adding some advice related to your field of expertise. Currently, this can be done by answering existing questions in the Q&A sessions on the homepage or by creating your own Frequently Asked Questions from your profile page.</p>
<p>Thank you for becoming a part of Azurie. You are our core, and only with your cooperation and stories, will we make the ideas of tomorrow a reality.</p>
<p>Sincerely,</p>
<p><b>The Azurie Team</b></p>
<p>* Our team is currently based in Moscow, Russia. Consequently Azurie’s initial activity has been focused on this region and will expand into the Asian and European, followed by African and American markets.</p>
<p>** Azurie is currently running tests in beta, and we will be rolling out social media sharing and networking functions over the next weeks. If you experience any problems on the site or have any suggestions, please contact us at <a href='mailto:team@azurie.com'>team@azurie.com</a> or through the feedback link on the site. We will be happy to assist you.</p>
