<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Yet Another Reg From Azurie</h1>
    <p>
      <pre>
        <%= @params.to_yaml %>
      </pre>
    </p>
  </body>
</html>
