<h1>You were invited to join Azurie!</h1>
<p><a href="http://azurie.com">Azurie</a> is the first interactive media hub where thought leaders in business, creative, and academic fields share and spread their insights and new findings on key entrepreneurial topics with the startup community globally.</p>
<p>You can browse through know-how and ask questions to leading professionals on specific subjects related to the development stage of new ventures. Explore new frontiers, nurture your entrepreneurial spirit, and find inspiration along the way.</p>
<p>Please <%= link_to 'accept our invitation', accept_invitation_url(@user, :invitation_token => @user.invitation_token) %></p>
<p style="padding-top:10px;margin-top:10px;border-top:1px solid #ebebeb;">Sincerely, Azurie Team</p>
