<h1>You Are Invited To Join Azurie!</h1>
<p>Press this link <%= link_to 'to accept the invitation', accept_invitation_url(@user, :invitation_token => @user.invitation_token) %> and create your account.</p>
<p>Azurie's mission is to put the spotlight on leading experts and those driving innovation in their industries &mdash; how to succeed and where to invest.</p>
<p>Through one-on-one interviews with leading entrepreneurs and Q&A sessions from expert panels, Azurie acts as a hub for new and seasoned entrepreneurs to learn, gain inspiration, and connect with their peers.</p>
<p><b>What’s there for you?</b></p>
<p>Azurie is designed for you, the fledgling entrepreneur, so don’t be shy &mdash; actively participate with us. Through Azurie, you will gain exposure on the international stage, you will find the answers to overcome obstacles and you will discover fellow entrepreneurs from around the world who can be sounding boards for your ideas.</p>
<p><b>Your role:</b></p>
<p>Become the center of the network. Start by creating your profile, submit new questions (in the lower part of each Q&A page), share ideas and offer resources that have inspired you through the ‘Disqus’ sections at Q&As of interest. If there is a specific expert or entrepreneur you desire to connect with, please contact us.</p>
<p>With your help we will break down the barriers to your success to make the ideas of tomorrow a reality.</p>
<p>Sincerely,</p>
<p><b>The Azurie Team</b></p>
<p>* Azurie is currently running tests in beta, and we will be rolling out social media sharing and networking functions over the next weeks. If you experience any problems on the site or have any suggestions, please contact us at <a href='mailto:team@azurie.com'>team@azurie.com</a> or through the feedback link on the site. We will be happy to assist you.</p>
