<h1>You were invited to join Azurie!</h1>
<p><a href="http://azurie.com">Azurie</a> is the first interactive media hub where thought leaders in business, creative, and academic fields share and spread their insights or new findings with the rising startup generation globally.</p>
<p>The team at Azurie believes your experience and knowledge are invaluable to share with future leaders and entrepreneurial community.</p>
<p>On Azurie people can read and follow leading professionals and easily share most insightful content throughout their social media. Besides answering existing questions you can add your Frequently Asked Questions list and by doing so discuss matters you believe are important for startup entrepreneurs to be aware of.</p>
<p>It would be an honor to welcome and feature you on this new platform.</p>
<p>Please <%= link_to 'accept our invitation', accept_invitation_url(@user, :invitation_token => @user.invitation_token) %></p>
<p style="padding-top:10px;margin-top:10px;border-top:1px solid #ebebeb;">Sincerely, Azurie Team</p>
