<h1>You were invited to join Azurie!</h1>
<p><a href="http://azurie.com">Azurie</a> is an international Q&A hub for startup entrepreneurs who seek knowledge and insights from foremost professionals and thought leaders in business, academic and creative disciplines.</p>
<p>The team at Azurie believes your thoughts or ideas on matters that arise during the implementation and growth stage of startup ventures is invalueble for a community of global and entrepreneurial minds.</p>
<p>On Azurie people can read and follow experts and easily share most insightful answers throughout their social media. Besides answering existing questions you can add your Frequently Asked Questions list and discuss matters you believe are important for startup entrepreneurs to be aware of.</p>
<p>It would be an honor to welcome and feature you on this young platform.</p>
<p><%= link_to 'Accept invitation', accept_invitation_url(@user, :invitation_token => @user.invitation_token) %></p>
<p style="padding-top:10px;margin-top:10px;border-top:1px solid #ebebeb;">Sincerely, Azurie Team</p>
