@font-face{
	font-family:'AlternateGothic2BTRegular';
	src: url('../fonts/alternate_gothic_no2_bt-webfont.eot');
	src: url('../fonts/alternate_gothic_no2_bt-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/alternate_gothic_no2_bt-webfont.woff') format('woff'),
		url('../fonts/alternate_gothic_no2_bt-webfont.ttf') format('truetype'),
		url('../fonts/alternate_gothic_no2_bt-webfont.svg#AlternateGothic2BTRegular') format('svg');
	font-weight:normal;
	font-style:normal;
}
body{
	margin:0;
	background:#fff url(../images/bg-body.jpg) repeat-x 0 111px;
	font:13px/18px Helvetica, Arial, sans-serif;
	color:#020308;
	min-width:1000px;
}
.inner{background:#fff url(../images/bg-inner-body.jpg) repeat-x 0 111px;}
a{
	text-decoration:underline;
	color:#cc1885;
}
a:hover{text-decoration:none;}
img{border-style:none;}
input, 
textarea, 
select{
	font:100% Helvetica, Arial, sans-serif;
	vertical-align:middle;
	color:#020308;
}
form, 
fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
#wrapper{
	background:url(../images/bg-wrapper.jpg) repeat-x 0 100%;
	width:100%;
	overflow:hidden;
	position:relative;
}
.w1{
	width:1100px;
	position:relative;
	float:left;
	left:50%;
}
.w2{
	width:1100px;
	position:relative;
	float:left;
	left:-50%;
}
#header{
	height:1%;
	overflow:hidden;
	padding:12px 67px 8px 73px;
}
.area{
	margin:0 0 39px;
	width:100%;
	overflow:hidden;
}
.logo{
	float:left;
	margin:0;
	background:url(../images/logo.jpg) no-repeat;
	height:24px;
	width:262px;
	text-indent:-9999px;
	overflow:hidden;
}
.logo a{
	display:block;
	height:100%;
}
.tools{
	float:right;
	margin:0;
	padding:5px 0 0;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.tools li{
	float:left;
	margin:0 9px 0 0;
	padding:0 0 4px;
	font-family:'AlternateGothic2BTRegular';
	font-size:15px;
	line-height:22px;
	letter-spacing:1px;
}
.tools a{
	text-decoration:none;
	color:#424242;
}
.tools a:hover{border-bottom:4px solid #29282a;}
#nav{
	margin:0;
	padding:0;
	list-style:none;
	width:100%;
	overflow:hidden;
}
#nav li{
	float:left;
	margin:0 42px 0 0;
	font-size:15px;
	line-height:16px;
	letter-spacing:1px;
	font-family:'AlternateGothic2BTRegular';
}
#nav a{
	float:left;
	text-decoration:none;
	color:#424242;
}
#nav a:hover, 
#nav li.active a{
	border-bottom:4px solid #cc1885;
	color:#cb1784;
}
#main{
	margin:0 0 30px;
	width:100%;
}
#main:after{
	display:block;
	clear:both;
	content:"";
}
.inner #main{padding:23px 0 0;}
.promo{
	margin:0 0 22px;
	padding:28px 80px 0 90px;
	height:347px;
}
#gallery{
	margin:2px 0 0 -20px;
	height:315px;
	width:870px;
}
.slide{
	height:315px;
	width:870px;
	position:relative;
	overflow:hidden;
}
.slide ul{
	margin:0;
	padding:0;
	list-style:none;
	width:99999px;
	overflow:hidden;
}
.slide ul li{
	float:left;
	width:870px;
	overflow:hidden;
}
.visual{
	float:left;
	height:315px;
	width:534px;
	margin:0 71px 0 0;
	position:relative;
}
.visual img{
	position:absolute;
	top:0;
	left:0;
}
.visual a{
	position:absolute;
	top:290px;
	left:438px;
	font-size:11px;
	color:#cf3b95;
	text-decoration:none;
}
.visual a:hover{text-decoration:underline;}
.visual a.play{
	top:266px;
	left:30px;
	background:url(../images/bg-play.png) no-repeat;
	height:40px;
	width:41px;
	text-indent:-9999px;
	overflow:hidden;
}
.textbox{
	padding:1px 0 0;
	font-size:12px;
	line-height:18px;
	color:#f8f7f8;
	height:1%;
	overflow:hidden;
	letter-spacing:0.2px;
}
.textbox span{
	display:block;
	margin:0 0 4px;
	font-size:15px;
	color:#cf3b95;
	font-family:'AlternateGothic2BTRegular';
	letter-spacing:0.8px;
	text-transform:uppercase;
}
.textbox strong{
	display:block;
	margin:0 0 24px;
	font-size:28px;
	line-height:30px;
	color:#f8f7f8;
	font-family:'AlternateGothic2BTRegular';
	letter-spacing:0.3px;
	font-weight:normal;
}
.textbox .heading{
	margin:0 0 -3px;
	height:1%;
	overflow:hidden;
}
.textbox .heading ul, 
.textbox .heading ul li{
	width:auto;
	background:url(../images/separator-9.jpg) no-repeat 0 2px;
}
.textbox p{
	margin:0 0 44px;
	word-spacing:1px;
}
.textbox p a{text-decoration:none;}
.textbox p a:hover{text-decoration:underline;}
.slide ul.switcher{
	margin:0 0 0 -10px;
	padding:0;
	list-style:none;
	width:auto;
	overflow:hidden;
}
.slide ul.switcher li{
	float:left;
	margin:0 7px 0 0;
	padding:0 0 0 10px;
	width:auto;
	background:url(../images/separator-8.jpg) no-repeat 0 4px;
	font-size:11px;
	font-weight:bold;
}
.slide ul.switcher li.no-line{background:none;}
.slide ul.switcher a{
	text-decoration:none;
	color:#fdfbf8;
}
.slide ul.switcher a:hover{color:#cf3b95;}
.text{
	font-size:36px;
	line-height:43px;
	font-family:'AlternateGothic2BTRegular';
	color:#f8f7f8;
	word-spacing:1px;
}
.text strong{
	display:block;
	margin:0 0 5px;
	font-size:16px;
	line-height:18px;
	font-weight:normal;
}
.text p{margin:0;}
.text p span{color:#cc1885;}
.main-content{
	padding:0 69px 0 49px;
	height:1%;
}
.main-content:after{
	display:block;
	content:"";
	clear:both;
}
#content{
	float:right;
	margin:0 0 10px;
	padding:11px 0 0;
	width:594px;
}
.inner #content{padding:0;}
#content h2{
	margin:0 0 16px;
	font-size:36px;
	line-height:38px;
	font-family:'AlternateGothic2BTRegular';
	font-weight:normal;
	color:#dad9d9;
	text-transform:uppercase;
}
.inner #content h2{
	margin:0 0 23px;
	font-size:24px;
	line-height:24px;
	font-family:'AlternateGothic2BTRegular';
	font-weight:normal;
	color:#cc1885;
}
.inner #content h2.color{
	margin:0 0 5px;
	color:#020308;
}
.nav-add{
	margin:-6px 0 24px -12px;
	padding:0 0 33px;
	list-style:none;
	height:1%;
	overflow:hidden;
	background:url(../images/bg-nav-add.jpg) no-repeat 13px 100%;
}
.nav-add li{
	float:left;
	margin:0 7px 0 0;
	padding:0 0 0 14px;
	font-size:16px;
	line-height:18px;
	text-transform:uppercase;
	background:url(../images/separator-7.jpg) no-repeat 0 2px;
	font-family:'AlternateGothic2BTRegular';
}
.nav-add li:first-child{background:none;}
.nav-add a{
	text-decoration:none;
	color:#020308;
}
.nav-add a span{color:#cc1885;}
.nav-add a:hover{text-decoration:underline;}
.naving{
	margin:0 0 22px -12px;
	padding:0;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.naving li{
	float:left;
	margin:0 11px 0 0;
	padding:0 0 0 15px;
	font-size:24px;
	line-height:26px;
	font-family:'AlternateGothic2BTRegular';
	text-transform:uppercase;
	background:url(../images/separator-6.jpg) no-repeat 0 4px;
}
.naving li:first-child{background:none;}
.naving a{
	text-decoration:none;
	color:#020308;
}
.search{margin:0 0 25px;}
.search span{
	display:block;
	background:url(../images/bg-search-span.jpg) no-repeat 13px 12px;
	padding:6px 7px 6px 64px;
	border:1px solid #cbcbc1;
	height:41px;
	width:519px;
}
.search span input{
	float:left;
	padding:1px 0 3px;
	height:38px;
	width:433px;
	border:none;
	background:none;
	font-size:36px;
	line-height:38px;
	font-family:'AlternateGothic2BTRegular';
	font-weight:normal;
	color:#dad9d9;
	text-transform:uppercase;
}
.search span input.btn-search{
	float:right;
	background:url(../images/btn-search.jpg) no-repeat;
	height:41px;
	width:75px;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
}
.search span input.btn-search:hover{background:url(../images/btn-search-hover.jpg) no-repeat;}
#content .decor{
	margin:0 0 21px;
	background:url(../images/bg-content-decor.jpg) no-repeat;
	width:594px;
}
.sections{
	margin:0 0 -28px;
	width:100%;
}
.sections:after{
	display:block;
	content:"";
	clear:both;
}
.section{
	margin:0 0 24px;
	padding:0 0 18px;
	width:100%;
	border-bottom:1px solid #cbcbc1;
}
.no-line{
	border:none;
	margin:0;
	padding:0 0 16px;
}
.section:after{
	display:block;
	content:"";
	clear:both;
}
.section img{
	float:right;
	display:inline;
	margin:6px 2px 5px 6px;
}
.heading{
	width:100%;
	overflow:hidden;
}
.heading ul{
	margin:0 0 5px -7px;
	padding:0;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.heading ul li{
	float:left;
	margin:0 3px 0 0;
	padding:0 0 0 7px;
	font:bold 12px/13px Arial, Helvetica, sans-serif;
	background:url(../images/separator-2.jpg) no-repeat 0 2px;
}
.heading ul a{
	text-decoration:none;
	color:#cb1784;
}
.heading ul a:hover{text-decoration:underline;}
.section h3{
	margin:0 0 13px;
	font-size:26px;
	line-height:28px;
	font-family:'AlternateGothic2BTRegular';
	font-weight:normal;
	color:#2d2d2d;
	letter-spacing:0.4px;
}
.line{
	margin:0 0 4px;
	width:100%;
}
.line:after{
	display:block;
	content:"";
	clear:both;
}
.line em{
	font-style:normal;
	font-size:11px;
	line-height:12px;
	color:#787879;
}
.open{
	float:left;
	font-size:11px;
	line-height:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#2d2d2d;
	text-decoration:none;
	letter-spacing:0.7px;
}
.popup-hover{
	float:left;
	width:auto;
	display:inline;
	position:relative;
}
.popup-hover a.open{height:1%;}
.active .popup{
	display:block;
	width:457px;
	min-height:180px;
	overflow:hidden;
}
.popup-hover{position:relative;}
.popup-hover .popup{
	display:none;
	position:absolute;
	top:-140px;
	left:75px;
	display:none;
	width:457px;
	min-height:180px;
}
.active .popup{
	display:block;
	overflow:hidden;
	width:457px;
}
.flexbox{
	background:url(../images/bg-popup-l.png) no-repeat;
	width:424px;
	padding:0 0 0 32px;
}
.flexbox-holder{
	width:390px;
	padding:22px 15px 8px 20px;
	background:#cc1885;
	font-size:13px;
	line-height:17px;
	color:#29282a;
	overflow:hidden;
}
.flexbox-area{
	margin:0 0 10px;
	width:100%;
	overflow:hidden;
}
.flexbox-area img{
	float:left;
	margin:1px 19px 0 0;
}
.flexbox-box{
	height:1%;
	overflow:hidden;
}
.flexbox-block{
	margin:0 0 12px;
	padding:0 11px 0 0;
	height:1%;
	overflow:hidden;
}
.flexbox-block a{
	float:right;
	background:url(../images/bg-popup-a.gif) no-repeat;
	height:23px;
	width:50px;
	text-indent:-9999px;
	overflow:hidden;
}
.flexbox-block strong{
	float:left;
	margin:3px 0 0;
	font-size:18px;
	font-weight:normal;
	font-family:'AlternateGothic2BTRegular';
	color:#29282a;
	text-transform:uppercase;
}
.flexbox-line{
	padding:0 3px 0 0;
	height:1%;
	overflow:hidden;
}
.flexbox-line span{float:right;}
.flexbox-line span a{
	text-decoration:none;
	font-size:18px;
	line-height:20px;
	font-family:'AlternateGothic2BTRegular';
	color:#fffefe;
}
.flexbox-line span a:hover{text-decoration:underline;}
.flexbox-line address{
	margin:0;
	font-size:18px;
	line-height:20px;
	font-style:normal;
	font-family:'AlternateGothic2BTRegular';
	color:#fffefe;
}
.flexbox-holder p{margin:0 0 5px;}
.section-holder .line{
	width:auto;
	height:1%;
}
.line ul, 
.section-holder .line ul{
	margin:0;
	padding:0;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.line ul li, 
.section-holder .line ul li{
	float:left;
	margin:0 5px 0 0;
	padding:0 0 0 6px;
	background:url(../images/separator-3.jpg) no-repeat 0 3px;
	font:italic 11px/12px Arial, Helvetica, sans-serif;
	color:#787879;
}
.line ul a, 
.section-holder .line ul a{
	float:left;
	text-decoration:none;
	color:#787879;
	font-family:Arial, Helvetica, sans-serif;
	line-height:12px;
	font-weight:normal;
}
.section-holder .line ul a span{
	line-height:12px;
	font-weight:normal;
	float:none;
}
.line ul a:hover, 
.section-holder .line ul a:hover{text-decoration:underline;}
.line ul li:first-child{background:none;}
.line ul li span, 
.section-holder .line ul li span{font-style:normal;}
.line ul li img{margin:0 0 0 4px;}
.section p{margin:0 0 15px;}
.section p a{text-decoration:none;}
.section p a:hover{text-decoration:underline;}
.section-holder{width:100%;}
.section-holder:after{
	display:block;
	content:"";
	clear:both;
}
.section-holder ul{
	float:left;
	margin:0 0 0 -8px;
	padding:0;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.section-holder ul li{
	float:left;
	margin:2px 9px 0 0;
	padding:0 0 0 9px;
	background:url(../images/separator-4.jpg) no-repeat 0 4px;
	font-size:12px;
	line-height:18px;
	color:#484747;
	font-family:'AlternateGothic2BTRegular';
	letter-spacing:0.2px;
}
.section-holder ul li:first-child{background:none;}
.section-holder ul a{
	text-decoration:none;
	font-family:'AlternateGothic2BTRegular';
	letter-spacing:0.5px;
	line-height:18px;
}
.section-holder ul a span{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	margin:0 3px 0 0;
	font-weight:bold;
	line-height:17px;
}
.section-holder ul a:hover{text-decoration:underline;}
.section-holder ul.add-naving{
	float:right;
	display:inline;
	margin:-1px -6px 0 0;
}
.section-holder ul.add-naving li{
	font-size:12px;
	line-height:16px;
	font-weight:bold;
	color:#cc1885;
	font-family:Arial, Helvetica, sans-serif;
	height:1%;
	overflow:hidden;
}
.add-naving li:first-child{background:none;}
.add-naving a{
	text-decoration:none;
	color:#cc1885;
	font-weight:normal;
	color:#4d4c4c;
	font-family:'AlternateGothic2BTRegular';
	letter-spacing:0.6px;
}
.add-naving a:hover{text-decoration:underline;}
.add-naving li em{
	float:left;
	line-height:18px;
	margin:0 3px 0 0;
	font-style:normal;
}
.section .add-naving li img{
	display:inline-block;
	margin:0;
}
.decoration{
	background:#ededed;
	margin:9px 0 16px;
}
.decoration-holder{background:url(../images/bg-decoration-holder.jpg) no-repeat;}
.decoration-frame{
	background:url(../images/bg-decoration-frame.jpg) no-repeat 0 100%;
	height:1%;
	overflow:hidden;
	min-height:44px;
	padding:10px 10px 6px 12px;
	color:#3b3b3b;
}
.decoration-frame p{margin:0 0 10px;}
.decoration-frame strong{
	display:block;
	margin:0 0 4px;
	font-size:26px;
	line-height:31px;
	font-weight:normal;
	color:#2d2d2d;
	font-family:'AlternateGothic2BTRegular';
	word-spacing:1px;
}
.section-row{
	width:100%;
	overflow:hidden;
}
.decoration2{
	margin:6px 0 15px;
	background:#ededed;
	float:left;
	width:390px;
}
.decoration2-holder{background:url(../images/bg-decoration2-holder.jpg) no-repeat;}
.decoration2-frame{
	background:url(../images/bg-decoration2-frame.jpg) no-repeat 0 100%;
	height:1%;
	overflow:hidden;
	min-height:44px;
	padding:10px 2px 6px 12px;
	word-spacing:-1px;
}
.decoration2-frame p{margin:0 0 10px;}
.section-area{
	margin:0 0 0;
	padding:39px 0 0;
	background:url(../images/bg-section-area.jpg) no-repeat;
}
.text-block{
	margin:0 0 7px;
	overflow:hidden;
	font-size:11px;
	line-height:18px;
	color:#303030;
	width:370px;
}
.text-block strong{
	display:block;
	margin:0 0 12px;
	font-size:24px;
	line-height:29px;
	color:#cc1885;
	font-weight:normal;
	font-family:'AlternateGothic2BTRegular';
}
.text-block p{margin:0 0 15px;}
.load{
	display:block;
	margin:0 0 25px;
	background:url(../images/bg-load.jpg) no-repeat;
	height:29px;
	width:593px;
	text-indent:-9999px;
	overflow:hidden;
}
.load:hover{background:url(../images/bg-load.jpg) no-repeat 0 -29px;}
.section-area h4{
	margin:0 0 22px;
	padding:4px 0 0 8px;
	font-size:26px;
	line-height:26px;
	font-weight:normal;
	background:#ededed;
	text-transform:uppercase;
	font-family:'AlternateGothic2BTRegular';
	color:#2d2d2d;
	width:585px;
}
.section-area h4 a{
	margin:0 0 0 25px;
	text-decoration:none;
	color:#cc1885;
}
.section-area h4 a:hover{text-decoration:underline;}
.text-box p{margin:0 0 20px;}
#sidebar{
	margin:0 0 10px;
	float:left;
	width:334px;
}
.inner #sidebar{padding:3px 0 0;}
.find{
	border:solid #f9f8f9;
	border-width:1px 0 1px 1px;
	background:#f1eef0;
	margin:0 0 37px;
	padding:9px 20px 19px 21px;
	font-size:13px;
	color:#010101;
}
.find strong{
	display:block;
	margin:0 0 10px;
	padding:0 0 9px;
	font-size:36px;
	line-height:43px;
	color:#424242;
	font-family:'AlternateGothic2BTRegular';
	font-weight:normal;
	background:url(../images/bg-find-strong.jpg) repeat-x 0 100%;
}
.find span{
	display:block;
	background:url(../images/bg-find-span.jpg) no-repeat 2px 0;
	margin:0 0 16px;
	padding:9px 0 0 27px;
	font-size:15px;
	font-weight:bold;
	color:#cb1784;
	letter-spacing:-0.4px;
}
.btn-find{
	display:block;
	margin:0 0 13px;
	padding:0 8px 2px 27px;
	border:1px solid #dfddd9;
	width:219px;
	text-decoration:none;
}
.find .btn-find span{
	background:url(../images/bg-btn-find.png) no-repeat 100% 14px;
	margin:0;
	padding:0;
	font-size:24px;
	line-height:36px;
	font-weight:normal;
	color:#424242;
	letter-spacing:1.3px;
	font-family:'AlternateGothic2BTRegular';
	text-transform:uppercase;
}
.btn-find:hover{background:#d7cad6;}
.find p{margin:0;}
.find p a{text-decoration:none;}
.find p a:hover{text-decoration:underline;}
.decor{
	display:block;
	margin:0 0 15px 25px;
	padding:0 0 0 33px;
	background:url(../images/bg-decor.jpg) no-repeat;
	height:15px;
	width:260px;
	font-weight:normal;
}
.decor span{
	float:left;
	background:url(../images/bg-decor-span.gif) no-repeat 100% 0;
	padding:0 8px 0 0;
	font-size:15px;
	line-height:16px;
	font-family:'AlternateGothic2BTRegular';
	color:#2d2d2d;
	letter-spacing:1px;
	word-spacing:1px;
}
.nav-bar{
	margin:0 0 19px 24px;
	padding:0;
	list-style:none;
	width:348px;
	position:relative;
	z-index:5;
}
.nav-bar li{
	margin:0 0 1px;
	padding:0 0 15px;
	position:relative;
}
.nav-bar a{
	text-decoration:none;
	color:#2d2d2d;
}
.nav-bar a span{
	background:url(../images/bg-quotes.jpg) no-repeat 100% 0;
	padding:0 32px 0 0;
}
.nav-bar li:hover{
	background:url(../images/bg-nav-list-hover.jpg) repeat-x 0 100%;
	position:relative;
	z-index:13;
}
.nav-bar li:hover .dropdown{display:block;}
*+html .dropdown{top:8px;}
.dropdown{
	display:none;
	position:absolute;
	top:10px;
	left:167px;
	margin:0;
	padding:0;
	list-style:none;
	width:181px;
}
.nav-bar .dropdown li{
	display:block;
	margin:0 0 3px !important;
	padding:0;
	font-size:15px;
	line-height:23px;
	font-family:'AlternateGothic2BTRegular';
	letter-spacing:0.3px;
}
*+html .nav-bar .dropdown li{
	display:inline-block;
	margin:0 0 -1px !important;
}
.nav-bar .dropdown a{
	display:block;
	background:#dedddd;
	padding:0 0 0 7px;
}
.nav-bar .dropdown li:hover{background:none;}
.nav-bar .dropdown li:hover a{color:#cc1885;}
.nav-list{
	margin:22px 0 36px 24px;
	padding:0;
	list-style:none;
	width:100%;
	overflow:hidden;
}
.nav-list li{
	float:left;
	margin:0 2px 2px 0;
}
.nav-list li div{
	position:relative;
	float:left;
}
.nav-list li img{
	position:relative;
}
.nav-list li span{
	display:block;
	margin:-22px 0 0;
	z-index:3;
	position:relative;
	padding:0 2px 4px;
	font-size:10px;
	line-height:18px;
	z-index:3;
	color:#f8f7f8;
	background:url(../images/bg-nav-list-span.png) repeat;
}
.nav-list li span.int{
	margin:-37px 0 0;
	padding:1px 9px;
	font-size:11px;
	font-weight:bold;
	line-height:17px;
}
.nav-list2{
	margin:0 0 33px 24px;
	padding:0;
	list-style:none;
	width:100%;
	overflow:hidden;
}
.nav-list2 li{
	float:left;
	margin:0 6px 5px 0;
}
.nav-list2 li img{float:left;}
.links{
	margin:18px 0 23px 24px;
	padding:0 0 0 1px;
	height:1%;
	overflow:hidden;
}
.links a{
	display:block;
	margin:0 0 3px;
	font:11px/14px Arial, Helvetica, sans-serif;
	color:#303030;
	text-decoration:none;
	width:280px;
}
.links a:hover{text-decoration:underline;}
.links ul{
	margin:0 0 15px -5px;
	padding:0;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.links ul li{
	float:left;
	margin:0 3px 0 0;
	padding:0 0 0 5px;
	background:url(../images/separator.jpg) no-repeat 0 3px;
	font:italic 11px/14px Arial, Helvetica, sans-serif;
}
.links ul li:first-child{background:none;}
.links ul a{
	display:inline-block;
	font-style:italic;
	text-decoration:none;
	color:#989898;
	width:auto;
}
#footer{
	height:1%;
	padding:32px 0 0 74px;
	overflow:hidden;
}
.columns{
	margin:0 0 25px;
	width:100%;
	overflow:hidden;
	font-size:12px;
	line-height:18px;
}
.column-1{
	float:left;
	padding:0 115px 0 0;
	width:245px;
}
.column-2{
	float:left;
	padding:0 58px 0 0;
	width:360px;
}
.column-3{
	float:left;
	width:210px;
}
.columns strong{
	display:block;
	margin:0 0 8px;
	text-transform:uppercase;
	color:#393839;
}
.columns p{margin:0;}
.columns p strong{
	display:inline;
	text-transform:none;
	margin:0;
}
.column-2 ul{
	margin:31px 0 0;
	padding:0;
	list-style:none;
	width:390px;
	overflow:hidden;
}
.column-2 ul li{
	float:left;
	width:169px;
	margin:0 24px 0 0;
}
.column-2 ul li ul{
	margin:0;
	padding:0;
	line-height:normal;
	width:169px;
}
.column-2 ul li ul li{
	float:none;
	background:url(../images/bg-columns-a.jpg) repeat-x 0 100%;
	line-height:32px;
}
.column-2 ul li ul a{
	text-decoration:none;
	color:#cc1885;
}
.column-2 ul li ul a:hover{font-weight:bold;}
.column-3 ul{
	margin:-6px 0 0;
	padding:0;
	list-style:none;
}
.column-3 ul li{
	padding:4px 0 4px;
	line-height:22px;
	height:1%;
	overflow:hidden;
	background:url(../images/bg-column-3-li.jpg) no-repeat 25px 100%;
}
.column-3 ul li img{
	float:left;
	margin:3px 8px 0 0;
}
.column-3 ul a{
	float:left;
	width:146px;
	text-decoration:none;
	color:#cb1784;
}
.column-3 ul a:hover{text-decoration:underline;}
.footer-holder{
	margin:0 0 0 -74px;
	padding:14px 0 16px 74px;
	height:1%;
	overflow:hidden;
	border-top:1px solid #cbcbc1;
}
.copy{
	float:left;
	margin:0 17px 0 0;
	font-size:12px;
	color:#000;
}
.navigation{
	margin:0;
	padding:0;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.navigation li{
	float:left;
	margin:0 17px 0 0;
	padding:0 0 0 19px;
	background:url(../images/separator-5.jpg) no-repeat 0 5px;
	font-size:12px;
}
.navigation a{
	text-decoration:none;
	color:#cc1885;
}
.navigation a:hover{text-decoration:underline;}
