<div id="content">

<p id="notice"><%= notice %></p>
							<ul class="naving">
								<li><%= link_to @user.display_name.upcase, @user %></li>
								<li>Discussions</li>
							</ul>
              <strong class="decor">
                  <span>PERSONAL</span>
              </strong>

<div>
  <% @user.answered_questions.each do |question| %>
    <%= render question %>
  <% end %>
</div>

</div>
<% content_for :sidebar do %>
  <%= render 'users/usercolumn' %>
<% end %>