<p id="notice"><%= notice %></p>
							<ul class="naving">
								<li><%= link_to @user.display_name.upcase, user_path(@user) %></li>
								<li>Conversations</li>
							</ul>
              <strong class="decor">
                  <span>PERSONAL</span>
              </strong>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% content_for :sidebar do %>
  <%= render 'users/usercolumn' %>
<% end %>
