<strong class="decor" id="nav-bar-decor"><span>CHOOSE  YOUR  Q&amp;A  THEME</span></strong>
	<ul class="nav-bar">
	  <% category_groups.each do |group, group_name| %>
	    <li><%= link_to group_name, questions_path(:category => group) %>
	      <ul class="dropdown">
	        <% categories[group_name].each do |category_name, category| %>
	          <li><%= link_to category_name, questions_path(:category => category) %></li>
	        <% end %>
	      </ul>
	    </li>  
	  <% end %>
	</ul>
	<!--strong class="decor"><span>FOLLOW  GREAT  EXPERTS</span></strong>
	<ul class="nav-list">
		<li>
			<div>
				<img src="images/img-2.jpg" height="70" width="97" alt="people" />
				<span>Alexandra DIeterink</span>
			</div>
		</li>
		<li>
			<div>
				<img src="images/img-4.jpg" height="70" width="95" alt="people" />
				<span>Kim van de Water</span>
			</div>
		</li>
		<li>
			<div>
				<img src="images/img-4.jpg" height="70" width="95" alt="people" />
				<span>Kim van de Water</span>
			</div>
		</li>
		<li>
			<div>
				<img src="images/img-3.jpg" height="142" width="194" alt="people" />
				<span class="int">Kim van de Water <br />What’s in a big hairy audacious</span>
			</div>
		</li>
		<li>
			<div>
				<img src="images/img-4.jpg" height="70" width="95" alt="people" />
				<span>Kim van de Water</span>
			</div>
		</li>
		<li>
			<div>
				<img src="images/img-4.jpg" height="70" width="95" alt="people" />
				<span>Kim van de Water</span>
			</div>
		</li>
	</ul-->
	<strong class="decor"><span>WHAT’S  POPULAR  NOW</span></strong>
	<div class="links">
		<% Question.popular.each do |question| %>
      <%= render :partial => 'questions/question_small', :object => question %>
    <% end %>
	</div>
	<strong class="decor"><span> MOST  RECENT</span></strong>
	<div class="links">
		<% Question.recent.each do |question| %>
      <%= render :partial => 'questions/question_small', :object => question %>
    <% end %>
	</div>
