<div id="content">
<% content_for :promo do %>
  <div class="promo">
		<div class="text">
			<strong>MANIFESTO</strong>
			<p><span>VENTURE DECODED</span>, COLLABORATION MANIFESTED, IT’S NET WIDENED, THE ACCESS GREAT. <span>IMAGES FOR AN ENTREPRENEURIAL WORLD</span>, MAKING CONNECTIONS, RELATIONS, ASSOCIATIONS. <span>PROMPTING GROWTH, GIVING DIRECTION</span>, INSPIRING CHANGE. STATUS QUO QUESTIONED, FORGED, EXPLORED, REFORGED. <span>ENTREPRENEUR AS GAMECHANGER, EMPOWERED AND RESOLVED</span>. A FRONTIER SPIRIT, A TRANSNATIONAL DIALOGUE, CREATIVE-BUSINESS HYBRIDS. THE NEW DESIGN OF GLOBALISM</p>
		</div>
	</div>
<% end %>

<% content_for :sidebar do %>
  <div id="sidebar">
    <% if !user_signed_in? %>
		<div class="find">
			<strong>FIND KNOWLEDGE <br />&amp; INSPIRATION</strong>
			<span>On realizing global business ideas</span>
			<a href="<%= new_user_registration_path %>" class="btn-find"><span>JOIN OUR COMMUNITY</span></a>
			<p>A cross-disciplinary collaborative of leading professionals worlwide <%= link_to '(read more)', :controller => :pages, :action => :about %></p>
		</div>
    <% end %>
		<%= render 'shared/nav_sidebar' %>
	</div>
<% end %>

<h2>ABOUT</h2>
<div class="text-box">
  <strong class="decor"><span>COLLABORATIVE ADVISORY</span></strong>
  <p>Azurie is a global knowledge base for startup entrepreneurship hosting thought leaders and foremost professionals in business, creative and academic fields. Through curated question-and-answers you can ask, share and collect insights related to the implementation and growth phase of business ideas. This cross-disciplinary platform supports entrepreneurial and creative minds in making better and more informed decisions and getting to that next big milestone.</p>
  <strong class="decor"><span>How it started</span></strong>
  <p>Azurie is being developed by Artem Kiselv, Yuriy … and Alexandra Dieterink, respectively a serial startup entrepreneur, a programmer and a venture capital professional. Azurie is a growing global grassroots project with origins in Moscow, Russia. During a chilly winter night of 2011 the idea for a collaborative knowledge platform came up in a café at an iconic former chocolate factory called the Red October. It was at this spot on a peninsula across the Kremlin where over a century before two German merchants built an enterprise that survived a series of full scale revolutions. Through all this time their factory had filled the city air with a sugary scent until it closed last decade.</p>  
  
	<strong class="decor"><span>VISION&amp;MISSION</span></strong>
	<p>Our vision is to record knowledge through conversations with entrepreneurial and creative thought leaders and make the resource open to all</p>
	<p>Our mission is to empower frontier entrepreneurship, creativity and break down information asymmetries</p>
</div>
</div>