<% content_for :promo do %>
<div id="featured" class="page-wrapper">
  <div class="wrapper-content">
		<div class="promo">
			<div class="text" style="padding-bottom:1em;">
				<strong>MANIFESTO</strong>
				<p><span>VENTURE DECODED</span>, COLLABORATION MANIFESTED, IT’S NET WIDENED, THE ACCESS GREAT. <span>IMAGES FOR AN ENTREPRENEURIAL WORLD</span>, MAKING CONNECTIONS, RELATIONS, ASSOCIATIONS. <span>PROMPTING GROWTH</span>, <span>GIVING DIRECTION</span>, INSPIRING CHANGE. STATUS QUO QUESTIONED, FORGED, EXPLORED, REFORGED. <span>ENTREPRENEUR AS GAMECHANGER</span>, <span>EMPOWERED AND RESOLVED</span>. A FRONTIER SPIRIT, A TRANSNATIONAL DIALOGUE, CREATIVE-BUSINESS HYBRIDS. THE NEW DESIGN OF GLOBALISM</p>
			</div>
		</div>
	</div>
</div>
<% end %>

<div id="content">
<% content_for :sidebar do %>
  <div id="sidebar">
    <% if !user_signed_in? %>
		<div class="find">
			<strong>FIND NEW INSIGHTS <br />&amp; INSPIRATION</strong>
      <p>Azurie feeds on insights from entrepreneurial and creative thought leaders globally <%= link_to '(read more)', :controller => :pages, :action => :about %></p>
			<a href="<%= new_user_registration_path %>" class="btn-find"><span>SUBSCRIBE</span></a>
		</div>
    <% end %>
		<%= render 'shared/nav_sidebar' %>
	</div>
<% end %>

<h2>ABOUT</h2>
<div class="text-box">
  <strong class="decor"><span>COLLABORATIVE ADVISORY</span></strong>
  <p>Azurie is a startup knowledge hub hosting thought leaders and foremost professionals in business, creative, and academic fields. Through curated questions-and-answers you can ask, share, and collect insights related to the implementation and growth phase of business ideas. This cross-disciplinary collaborative aims to connect the entrepreneurial community globally and be a catalyst for discussions and debate on key entrepreneurial topics, from corporate to creative, and social matters.</p> 
	<strong class="decor"><span>BACKGROUND</span></strong>
	<p>Azurie was launched in Moscow in 2011 by Artem Kiselev, Yuriy Gomozov, and Alexandra Dieterink. Respectively a serial startup entrepreneur, software developer, and venture capital professional. It was prompted by a desire to consolidate important entrepreneurial know-how that is increasingly being shared by thinkers and most innovative participants in business.</p>

  <p>Critical knowledge and guidance for startups is increasingly being sought after in today's competitive and rapidly changing environment. We see valuable insights already being shared online by leading professionals from different sectors. However, these pockets of knowledge are spread around the web with no central hub to read through entrepreneurial know-how by topics, connect to professionals, and stay informed. Azurie is a resolution to bring the smartest minds together and promote those with an entrepreneurial passion.</p>

 <p>The platform is being developed with the support of key contributors from different corners of the globe.</p>
</div>
</div>
