<% content_for :promo do %>
  <div class="promo">
		<div class="text">
			<strong>MANIFESTO</strong>
			<p><span>VENTURE DECODED</span>, COLLABORATION MANIFESTED, IT’S NET WIDENED, THE ACCESS GREAT. <span>IMAGES FOR AN ENTREPRENEURIAL WORLD</span>, MAKING CONNECTIONS, RELATIONS, ASSOCIATIONS. <span>PROMPTING GROWTH, GIVING DIRECTION</span>, INSPIRING CHANGE. STATUS QUO QUESTIONED, FORGED, EXPLORED, REFORGED. <span>ENTREPRENEUR AS GAMECHANGER, EMPOWERED AND RESOLVED</span>. A FRONTIER SPIRIT, A TRANSNATIONAL DIALOGUE, CREATIVE-BUSINESS HYBRIDS. THE NEW DESIGN OF GLOBALISM</p>
		</div>
	</div>
<% end %>

<% content_for :sidebar do %>
  <div id="sidebar">
		<div class="find">
			<strong>FIND KNOWLEDGE <br />&amp; INSPIRATION</strong>
			<span>On realizing global business ideas</span>
			<a href="#" class="btn-find"><span>JOIN OUR COMMUNITY</span></a>
			<p>A cross-disciplinary collaborative of leading professionals worlwide <a href="#">(read more)</a></p>
		</div>
		<strong class="decor"><span>CHOOSE  YOUR  Q&amp;A  THEME</span></strong>
		<ul class="nav-bar">
			<li><a href="#">Business &amp; Cycles</a>
				<ul class="dropdown">
					<li><a href="#">IDEA VALIDATION</a></li>
					<li><a href="#">BUSINESS MODELS</a></li>
					<li><a href="#">SALES &amp; MARKETING</a></li>
					<li><a href="#">NEGOTIATION</a></li>
					<li><a href="#">OWNERSHIP &amp; CAPITAL RAISING</a></li>
					<li><a href="#">PEOPLE MANAGEMENT</a></li>
					<li><a href="#">MONEY MANAGEMENT</a></li>
					<li><a href="#">DAY TO DAY OPERATIONS</a></li>
				</ul>
			</li>
			<li><a href="#">Design &amp; Creativity</a></li>
			<li><a href="#">Trends &amp; Progress</a></li>
			<li><a href="#"><span>Quotes to venture by</span></a></li>
		</ul>
		<strong class="decor"><span>FOLLOW  GREAT  EXPERTS</span></strong>
		<ul class="nav-list">
			<li>
				<div>
					<img src="/images/img-2.jpg" height="70" width="97" alt="people" />
					<span>Alexandra DIeterink</span>
				</div>
			</li>
			<li>
				<div>
					<img src="/images/img-4.jpg" height="70" width="95" alt="people" />
					<span>Kim van de Water</span>
				</div>
			</li>
			<li>
				<div>
					<img src="/images/img-4.jpg" height="70" width="95" alt="people" />
					<span>Kim van de Water</span>
				</div>
			</li>
			<li>
				<div>
					<img src="/images/img-3.jpg" height="142" width="194" alt="people" />
					<span class="int">Kim van de Water <br />What’s in a big hairy audacious</span>
				</div>
			</li>
			<li>
				<div>
					<img src="/images/img-4.jpg" height="70" width="95" alt="people" />
					<span>Kim van de Water</span>
				</div>
			</li>
			<li>
				<div>
					<img src="/images/img-4.jpg" height="70" width="95" alt="people" />
					<span>Kim van de Water</span>
				</div>
			</li>
		</ul>
		<strong class="decor"><span>WHAT’S  POPULAR  NOW</span></strong>
		<div class="links">
			<a href="#">What is the secret to Apple's marketing genius?</a>
			<ul>
				<li><a href="#">3 comments </a></li>
				<li><a href="#">25 appreciated</a></li>
			</ul>
			<a href="#">What are the key items of a great investor presentation?</a>
			<ul>
				<li><a href="#">3 comments </a></li>
				<li><a href="#">25 appreciated</a></li>
			</ul>
			<a href="#">What are the best ways to know early on whether an idea has potential to become a meaningful, currency-generating project?</a>
			<ul>
				<li><a href="#">3 comments </a></li>
				<li><a href="#">25 appreciated</a></li>
			</ul>
		</div>
		<strong class="decor"><span> MOST  RECENT</span></strong>
		<div class="links">
			<a href="#">What is the secret to Apple's marketing genius?</a>
			<ul>
				<li><a href="#">3 comments </a></li>
				<li><a href="#">25 appreciated</a></li>
			</ul>
			<a href="#">What are the key items of a great investor presentation?</a>
			<ul>
				<li><a href="#">3 comments </a></li>
				<li><a href="#">25 appreciated</a></li>
			</ul>
			<a href="#">What are the best ways to know early on whether an idea has potential to become a meaningful, currency-generating project?</a>
			<ul>
				<li><a href="#">3 comments </a></li>
				<li><a href="#">25 appreciated</a></li>
			</ul>
		</div>
	</div>
<% end %>

<h2>ABOUT</h2>
<div class="text-box">
	<strong class="decor"><span>BACKGROUND</span></strong>
	<p>The idea to launch a collaborative knowledge platform dates back to a snow filled late winter night in Moscow at the turn of this new decade. A group of Russian and Dutch entrepreneurs and VCs gathered in a basement cafe at an iconic former chocolate factory called the Red October. It was the same spot on a peninsula across the Kremlin where over a century before two German entrepreneurs built an enterprise that survived revolutions, the factory filling the city air with a sugary scent until it closed last decade. Nevertheless, a basement cafe at this historic spot accomodated to reflect on the next generation of global entrepreneurs who are making a leap forward from an industrial era and entering a new paradigm; a world increasingly high-tech, interconnected, virtual and fast paced. What are tomorrow’s key skills required in implementing successful business ideas on the back of such new realities and accelerated change? To source answers from one of the most forward thinking an experienced professionals globally the idea to launch this cross-national project was first conceived.</p>
	<strong class="decor"><span>COLLABORATIVE ADVISORY</span></strong>
	<p>Azurie is a new question-and-answer platorm that enables venture professionals and entrepreneurs to ask, share and collect key knowledge on all things related to the implementation phase of business ideas. The platform features guidance from an international business community in more digestable briefings. It supports enrepreneurial minds in making more calculated decisions, increase savvy and find inspiration on many aspects of starting a venture. The platform hosts experts and thought leaders from around the world, from serial entrepreneurs to investors, academics and professionals from creative industries.</p>
	<strong class="decor"><span>VISION&amp;MISSION</span></strong>
	<p>Our vision is to record most relevant knowledge and insight from entrepreneurial thought leaders and make it universally accessible and useful.</p>
	<p>Our mission is to cultivate frontier entrepreneurship, creativity and break down information assymetries.</p>
</div>
