<% content_for :promo do %>
  <div class="promo">
		<div id="gallery">
			<div class="slide">
				<ul>
					<li>
						<div class="visual">
							<img src="images/img-20.jpg" height="315" width="534" alt="image" />
							<a href="#" class="play">play</a>
							<a href="#">Courtesy: Harpers</a>
						</div>
						<div class="textbox">
							<span>FEATURED BRIEFINGS</span>
							<strong>How To Negotiate Like Batman</strong>
							<div class="heading">
								<ul>
									<li><a href="#">Human Capital</a></li>
									<li><a href="#">Negotiations</a></li>
								</ul>
							</div>
							<p>Reframing the other side's position to shift his perceived negotiation leverage is an extremely powerful negotiation tactic and a key ingredient to a successful negotiation (friendly or hostile). Matt Cohen takes a scene from Batman the movie as an example: “Coleman Reese (played by Joshua Harto) is an M&A lawyer working for Wayne Enterprises. <a href="#">(learn more)</a></p>
							<ul class="switcher">
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li class="no-line"><a href="#" class="btn-next">&gt;</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
<% end %>

<% content_for :sidebar do %>
  <!-- sidebar -->
	<div id="sidebar">
		<div class="find">
			<strong>FIND KNOWLEDGE <br />&amp; INSPIRATION</strong>
			<span>On realizing global business ideas</span>
			<a href="#" class="btn-find"><span>JOIN OUR COMMUNITY</span></a>
			<p>A cross-disciplinary collaborative of leading professionals worlwide <a href="#">(read more)</a></p>
		</div>
		<strong class="decor"><span>CHOOSE  YOUR  Q&amp;A  THEME</span></strong>
		<ul class="nav-bar">
			<li><a href="#">Business &amp; Cycles</a>
				<ul class="dropdown">
					<li><a href="#">IDEA VALIDATION</a></li>
					<li><a href="#">BUSINESS MODELS</a></li>
					<li><a href="#">SALES &amp; MARKETING</a></li>
					<li><a href="#">NEGOTIATION</a></li>
					<li><a href="#">OWNERSHIP &amp; CAPITAL RAISING</a></li>
					<li><a href="#">PEOPLE MANAGEMENT</a></li>
					<li><a href="#">MONEY MANAGEMENT</a></li>
					<li><a href="#">DAY TO DAY OPERATIONS</a></li>
				</ul>
			</li>
			<li><a href="#">Design &amp; Creativity</a></li>
			<li><a href="#">Trends &amp; Progress</a></li>
			<li><a href="#"><span>Quotes to venture by</span></a></li>
		</ul>
		<strong class="decor"><span>FOLLOW  GREAT  EXPERTS</span></strong>
		<ul class="nav-list">
			<li>
				<div>
					<img src="images/img-2.jpg" height="70" width="97" alt="people" />
					<span>Alexandra DIeterink</span>
				</div>
			</li>
			<li>
				<div>
					<img src="images/img-4.jpg" height="70" width="95" alt="people" />
					<span>Kim van de Water</span>
				</div>
			</li>
			<li>
				<div>
					<img src="images/img-4.jpg" height="70" width="95" alt="people" />
					<span>Kim van de Water</span>
				</div>
			</li>
			<li>
				<div>
					<img src="images/img-3.jpg" height="142" width="194" alt="people" />
					<span class="int">Kim van de Water <br />What’s in a big hairy audacious</span>
				</div>
			</li>
			<li>
				<div>
					<img src="images/img-4.jpg" height="70" width="95" alt="people" />
					<span>Kim van de Water</span>
				</div>
			</li>
			<li>
				<div>
					<img src="images/img-4.jpg" height="70" width="95" alt="people" />
					<span>Kim van de Water</span>
				</div>
			</li>
		</ul>
		<strong class="decor"><span>WHAT’S  POPULAR  NOW</span></strong>
		<div class="links">
			<a href="#">What is the secret to Apple's marketing genius?</a>
			<ul>
				<li><a href="#">3 comments </a></li>
				<li><a href="#">25 appreciated</a></li>
			</ul>
			<a href="#">What are the key items of a great investor presentation?</a>
			<ul>
				<li><a href="#">3 comments </a></li>
				<li><a href="#">25 appreciated</a></li>
			</ul>
			<a href="#">What are the best ways to know early on whether an idea has potential to become a meaningful, currency-generating project?</a>
			<ul>
				<li><a href="#">3 comments </a></li>
				<li><a href="#">25 appreciated</a></li>
			</ul>
		</div>
		<strong class="decor"><span> MOST  RECENT</span></strong>
		<div class="links">
			<a href="#">What is the secret to Apple's marketing genius?</a>
			<ul>
				<li><a href="#">3 comments </a></li>
				<li><a href="#">25 appreciated</a></li>
			</ul>
			<a href="#">What are the key items of a great investor presentation?</a>
			<ul>
				<li><a href="#">3 comments </a></li>
				<li><a href="#">25 appreciated</a></li>
			</ul>
			<a href="#">What are the best ways to know early on whether an idea has potential to become a meaningful, currency-generating project?</a>
			<ul>
				<li><a href="#">3 comments </a></li>
				<li><a href="#">25 appreciated</a></li>
			</ul>
		</div>
	</div>
<% end %>

<h2>Q&amp;A</h2>
<form class="search" action="#">
	<fieldset>
		<div class="row">
			<span>
				<input type="text" value="SEARCH QUERY HERE" />
				<input type="submit" value="" class="btn-search" />
			</span>
		</div>
	</fieldset>
</form>
<strong class="decor"><span>DAILY TOP Q&amp;As</span></strong>
<!-- sections -->
<div class="sections">
	<div class="section">
		<div class="heading">
			<ul>
				<li><a href="#">Business</a></li>
				<li><a href="#">Negotiations</a></li>
			</ul>
		</div>
		<h3>Why should you declare war on friction?</h3>
		<div class="line">
			<div class="popup-hover">
				<a class="open" href="#">KEITH HARING,</a>
				<div class="popup">
					<div class="flexbox">
						<div class="flexbox-holder">
							<div class="flexbox-area">
								<img src="images/img-5.jpg" height="70" width="82" alt="" />
								<div class="flexbox-box">
									<div class="flexbox-block">
										<a href="#">Follow</a>
										<strong>ANTTHONY VAN GEBEUREN</strong>
									</div>
									<div class="flexbox-line">
										<span><a href="#">Profile</a> <br /><a href="#">Interview</a></span>
										<address>Tommorrow Capital Partners <br />Amsterdam, The Netheralnds</address>
									</div>
								</div>
							</div>
							<p>One of the keys to building a successful company and creating a product that people love is to find and exploit a gap in the existing market. One of the keys to building a successful company.</p>
						</div>
					</div>
				</div>
			</div>
			<ul>
				<li><a href="#"><span>Investment Professional, (New York, USA)</span></a></li>
				<li><a href="#">6 comments</a></li>
				<li><a href="#">posted one week ago</a></li>
			</ul>
		</div>
		<p>One of the keys to building a successful company and creating a product that people love is to find and exploit a gap in the existing market. One of the keys to building a successful company and creating a product that people love is to find and exploit a gap in the existing market. <a href="#">(learn more)</a></p>
		<div class="section-holder">
			<ul class="add-naving">
				<li><em>15</em><img src="images/ico-ok.jpg" height="14" width="11" alt="ico" /></li>
				<li><a href="#"> APPRECIATE  THIS</a></li>
			</ul>
			<ul>
				<li><a href="#"><span>8</span></a>MORE ANSWERS</li>
				<li><a href="#">ADD YOUR ANSWER</a></li>
			</ul>
		</div>
	</div>
	<div class="section">
		<div class="heading">
			<ul>
				<li><a href="#">Design</a></li>
				<li><a href="#">Negotiations</a></li>
			</ul>
		</div>
		<h3>You get ideas when you ask yourself simple questions. The most important of the questions is just, What if...?</h3>
		<div class="line">
			<div class="popup-hover">
				<a class="open" href="#">KEITH HARING,</a>
				<div class="popup">
					<div class="flexbox">
						<div class="flexbox-holder">
							<div class="flexbox-area">
								<img src="images/img-5.jpg" height="70" width="82" alt="" />
								<div class="flexbox-box">
									<div class="flexbox-block">
										<a href="#">Follow</a>
										<strong>ANTTHONY VAN GEBEUREN</strong>
									</div>
									<div class="flexbox-line">
										<span><a href="#">Profile</a> <br /><a href="#">Interview</a></span>
										<address>Tommorrow Capital Partners <br />Amsterdam, The Netheralnds</address>
									</div>
								</div>
							</div>
							<p>One of the keys to building a successful company and creating a product that people love is to find and exploit a gap in the existing market. One of the keys to building a successful company.</p>
						</div>
					</div>
				</div>
			</div>
			<ul>
				<li><span><a href="#">Investment Professional, (New York, USA)</a></span></li>
				<li>
					<a href="#">
						<span>source</span>
						<img src="images/ico-1.jpg" height="10" width="10" alt="ico" />
					</a>
				</li>
				<li><a href="#">6 comments</a></li>
				<li><a href="#">posted one week ago</a></li>
			</ul>
		</div>
		<div class="decoration">
			<div class="decoration-holder">
				<div class="decoration-frame">
					<p>One of the keys to building a successful company and creating a product that people love is to find and exploit a gap in the existing market. One of the keys to building a successful company and creating a product that people love is to find and exploit a gap in the existing market...</p>
				</div>
			</div>
		</div>
		<div class="section-holder">
			<ul class="add-naving">
				<li><em>15</em> <img src="images/ico-ok.jpg" height="14" width="11" alt="ico" /></li>
				<li><a href="#">THANK YOU !</a></li>
			</ul>
			<ul>
				<li><a href="#"><span>8</span></a>MORE ANSWERS</li>
				<li><a href="#">ADD YOUR ANSWER</a></li>
			</ul>
		</div>
	</div>
	<div class="section">
		<div class="heading">
			<ul>
				<li><a href="#">Design</a></li>
				<li><a href="#">Branding</a></li>
			</ul>
		</div>
		<div class="decoration">
			<div class="decoration-holder">
				<div class="decoration-frame">
					<strong>If you think good design is expensive, you should look at the costs of bad design</strong>
				</div>
			</div>
		</div>
		<div class="section-holder">
			<ul class="add-naving">
				<li><em>15</em> <img src="images/ico-ok.jpg" height="14" width="11" alt="ico" /></li>
				<li><a href="#">APPRECIATE  THIS</a></li>
			</ul>
			<div class="popup-hover">
				<a class="open" href="#">KEITH HARING,</a>
				<div class="popup">
					<div class="flexbox">
						<div class="flexbox-holder">
							<div class="flexbox-area">
								<img src="images/img-5.jpg" height="70" width="82" alt="" />
								<div class="flexbox-box">
									<div class="flexbox-block">
										<a href="#">Follow</a>
										<strong>ANTTHONY VAN GEBEUREN</strong>
									</div>
									<div class="flexbox-line">
										<span><a href="#">Profile</a> <br /><a href="#">Interview</a></span>
										<address>Tommorrow Capital Partners <br />Amsterdam, The Netheralnds</address>
									</div>
								</div>
							</div>
							<p>One of the keys to building a successful company and creating a product that people love is to find and exploit a gap in the existing market. One of the keys to building a successful company.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="line">
				<ul>, :path_prefix=>"/ 
					<li><a href="#"><span>Investment Professional, (New York, USA)</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="section-area">
	<a href="#" class="load">LOAD MORE Q&amp;As</a>
	<h4>CAN'T FIND AN ANSWER? <a href="#">POST YOURR QUESTION HERE</a></h4>
</div>  
