<% content_for :promo do %>
  <div class="promo">
		<div id="gallery">
			<div class="slide">
				<ul>
					<li>
						<div class="visual">
							<img src="images/img-20.jpg" height="315" width="534" alt="image" />
							<a href="#" class="play">play</a>
							<a href="#">Courtesy: Harpers</a>
						</div>
						<div class="textbox">
							<span>FEATURED BRIEFINGS</span>
							<strong>How To Negotiate Like Batman</strong>
							<div class="heading">
								<ul>
									<li><a href="#">Human Capital</a></li>
									<li><a href="#">Negotiations</a></li>
								</ul>
							</div>
							<p>Reframing the other side's position to shift his perceived negotiation leverage is an extremely powerful negotiation tactic and a key ingredient to a successful negotiation (friendly or hostile). Matt Cohen takes a scene from Batman the movie as an example: “Coleman Reese (played by Joshua Harto) is an M&A lawyer working for Wayne Enterprises. <a href="#">(learn more)</a></p>
							<ul class="switcher">
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li class="no-line"><a href="#" class="btn-next">&gt;</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
<% end %>

<% content_for :sidebar do %>
  <!-- sidebar -->
	<div id="sidebar">
		<div class="find">
			<strong>FIND KNOWLEDGE <br />&amp; INSPIRATION</strong>
			<span>On realizing global business ideas</span>
			<a href="#" class="btn-find"><span>JOIN OUR COMMUNITY</span></a>
			<p>A cross-disciplinary collaborative of leading professionals worlwide <a href="#">(read more)</a></p>
		</div>
		<%= render 'shared/nav_sidebar' %>
	</div>
<% end %>

<h2>Q&amp;A</h2>
<form class="search" action="#">
	<fieldset>
		<div class="row">
			<span>
				<input type="text" value="SEARCH QUERY HERE" />
				<input type="submit" value="" class="btn-search" />
			</span>
		</div>
	</fieldset>
</form>
<strong class="decor"><span>DAILY TOP Q&amp;As</span></strong>
<!-- sections -->
<div class="sections">
	<% @top_questions.each do |question| %>
	  <%= render question %>
	<% end %>
</div>
<div class="section-area">
	<a href="#" class="load">LOAD MORE Q&amp;As</a>
	<h4>CAN'T FIND AN ANSWER? <%= link_to 'POST YOURR QUESTION HERE', new_question_path %></a></h4>
</div>  
