<div id="content">
<% content_for :sidebar do %>
	<%= render 'shared/nav_sidebar' %>
<% end %>

<h2 style='color:#424242;'>PARTNERS & SPONSOR INFORMATION</h2>
<p>Bespoke content production & brand promotion</p> 
<div class="text-box">
  <p><b>WE GET IT, YOU’RE BUSY SO THIS IS AN INFORMATION PACK IN A NUTSHELL!</b></p>
  <strong class="decor2"><span>WHAT IS AZURIE KNOWLEDGE MEDIA?</span></strong>
  <p>A multimedia platform producing insightful interviews with business leaders from various sectors and countries. The platform features top professionals and their business perspectives, engages readers in discussions, and enables access to one-on-one expert advice through <a href='http://ambroi.net/'>ambroi.net</a>’s communication services.</p> 
  <strong class="decor2"><span>HOW IS CONTENT DELIVERED?</span></strong>
  <p>Weekly online publishing of interview reportage series.</p> 
  <p>The most valuable insights from the reportage series are curated on an open <a href='/questions'>Q&A board</a> where the community is invited to actively comment, discuss, and share knowledge throughout social networks.</p> 
  <p><iframe width="640" height="360" src="http://www.youtube.com/embed/f9nP1NwelAA" frameborder="0" allowfullscreen></iframe></p>
  <p>Interview with Alexander Aniskevich (<a href='http://www.yo-auto.com'>Yo-Auto</a>)</p>
  <strong class="decor2"><span>ON VISUALS</span></strong>
  <p>We make no distinction between style and substance, the two are the same, the better it looks, the more you want to use it and the more pleasure you get out of it. We encourage good design and the creative edge. Our content is rich in visuals and original in style. Our team includes one of the most creative photographers, graphic designers, and video editors.</p> 
  <strong class="decor2"><span>WHO CREATES AND DELIVERS THE CONTENT?</span></strong>
  <p>Content is delivered by experienced international journalists with deep networks in business communities locally and who are always on top of trending topics. Our journalist produce magazine and web articles on an array of industries and create engaging conversations.</p> 
  <strong class="decor2"><span>WHY SHOULD YOU PARTNER WITH US?</span></strong>
  <p>Azurie is a new kind of media that promotes business insight and provides direct access to featured top professionals. It is at the core and action driven and engaging multimedia platform for professionals aimed at covering business challenges and solutions. With Azurie you can connect your brand with professionals and critical audiences who are hard to reach through traditional media outlets.</p> 
  <p><b>THIS IS AN INTERNATIONAL MEDIA PRODUCTION WITH NO PARALLEL IN RUSSIA AND WHOSE TIME HAS COME!</b></p>
  <strong class="decor2"><span>HOW OUR PARTNERS CAN PARTICIPATE AND PROMOTE THEIR BRANDS</span></strong>
  <p>Azurie operates through a content sponsorships model:</p> 
  <p><b>WE DEVELOP, INDEPENDENTLY, BESPOKE REPORTAGE SERIES AND DISTRIBUTE SPONSORED CONTENT THROUGHOUT SOCIAL MEDIA.</b></p>
  <p>Our reportages feature top entrepreneurs, thought leaders, and progressive minds. Corporate partners may indicate their preferred topics but content is created independently and is never about the brand itself. Content is then distributed to audiences on Azurie’s online knowledge platform and through social media with a visible mention of our partner's participation as sponsor of the reportage series.</p> 
  <p>Connect with young, professional, and critical audiences who are hard do reach through traditional media outlets and make a lasting impact on an entrepreneurial society in Russia.</p> 
  <p>Thank you for your attention!</p> 
  <p>We would be happy to answer any of your questions. Please Email us at team@azurie.com</p> 
</div>
</div>
