@font-face{
	font-family:'AlternateGothic2BTRegular';
	src: url('../fonts/alternate_gothic_no2_bt-webfont.eot');
	src: url('../fonts/alternate_gothic_no2_bt-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/alternate_gothic_no2_bt-webfont.woff') format('woff'),
		url('../fonts/alternate_gothic_no2_bt-webfont.ttf') format('truetype'),
		url('../fonts/alternate_gothic_no2_bt-webfont.svg#AlternateGothic2BTRegular') format('svg');
	font-weight:normal;
	font-style:normal;
}
body{
	margin:0;
	font:13px/18px Helvetica, Arial, sans-serif;
	color:#020308;
	min-width:1000px;
}

a{
	text-decoration:underline;
	color:#cc1885;
}
a:hover{text-decoration:none;}
img{border-style:none;}
input, 
textarea, 
select{
	font:100% Helvetica, Arial, sans-serif;
	vertical-align:middle;
	color:#020308;
}
form, 
fieldset{
	margin:0;
	padding:0;
	border-style:none;
}

.page-wrapper {
    width:100%;
    text-align:center;
}

.page-wrapper .wrapper-content {
    width:950px;
    display:block;
    margin:0 auto;
    text-align:left;
}

#header {
    overflow:hidden;
    padding-top:25px;
    border-bottom:4px solid #cf3b95;
    padding-bottom:8px;
}

.area {
	margin:0 0 39px;
	width:100%;
	overflow:hidden;
}
.logo{
	float:left;
	margin:0;
	background:url(../assets/logo.png) no-repeat;
	height:36px;
	width:246px;
	text-indent:-9999px;
	overflow:hidden;
}
.logo a{
	display:block;
	height:100%;
}
.tools{
	float:right;
	margin:0;
	padding:5px 0 0;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.tools li{
	float:left;
	margin:0 9px 0 0;
	padding:0 0 4px;
	font-family:'AlternateGothic2BTRegular';
	font-size:15px;
	line-height:22px;
	letter-spacing:1px;
}
.tools a{
	text-decoration:none;
	color:#424242;
}
.tools a:hover{border-bottom:4px solid #29282a;}

.tools-logged-in li a {
        font-size:13px;
}

.tools-logged-in li a:hover {
        border-bottom:none;
        text-decoration:underline;
}

#nav{
	margin:0;
	padding:0;
	list-style:none;
	width:100%;
	overflow:hidden;
}
#nav li{
	float:left;
	margin:0 42px 0 0;
	font-size:15px;
	line-height:16px;
	letter-spacing:1px;
	font-family:'AlternateGothic2BTRegular';
}
#nav a{
	float:left;
	text-decoration:none;
	color:#424242;
        border-bottom:4px solid #fff;
}
#nav a:hover, 
#nav li.active a{
	border-bottom:4px solid #cc1885;
	color:#cb1784;
}
#main{
	margin:0 0 100px;
	width:100%;
}
#main:after{
	display:block;
	clear:both;
	content:"";
}

#featured {
    background:#29282a;
    padding-top:25px;
}

.promo{
  position:relative;
}
.visual{
	float:left;
	margin:0;
	position:relative;
}
.visual img{
	position:absolute;
	top:0;
	left:0;
}
.visual a{
	position:absolute;
	left:438px;
	font-size:11px;
	color:#cf3b95;
	text-decoration:none;
}
.visual a:hover{text-decoration:underline;}
.visual a.play{
	top:266px;
	left:30px;
	background:url(../assets/bg-play.png) no-repeat;
	height:40px;
	width:41px;
	text-indent:-9999px;
	overflow:hidden;
}

em.describtion {
    color:#9C6262;
    font-style:normal;
    padding-top:5px;
    display:block;
    font-size:11px;
}

.textbox span{
	display:block;
	margin:0 0 4px;
	font-size:15px;
	color:#cf3b95;
	font-family:'AlternateGothic2BTRegular';
	letter-spacing:0.8px;
	text-transform:uppercase;
}
.textbox strong{
	display:block;
	margin:0 0 24px;
	font-size:28px;
	line-height:30px;
	color:#f8f7f8;
	font-family:'AlternateGothic2BTRegular';
	letter-spacing:0.3px;
	font-weight:normal;
}
.textbox .heading{
	margin:0 0 -3px;
	height:1%;
	overflow:hidden;
}
.textbox .heading ul, 
.textbox .heading ul li{
	width:auto;
	background:url(../assets/separator-9.jpg) no-repeat 0 2px;
}

.textbox .heading ul:first-child{
    background:none;
    padding-left:0;
}
.textbox p{
	margin:0 0 44px;
	word-spacing:1px;
}
.textbox p a{text-decoration:none;}
.textbox p a:hover{text-decoration:underline;}
.text{
	font-size:36px;
	line-height:43px;
	font-family:'AlternateGothic2BTRegular';
	color:#f8f7f8;
	word-spacing:1px;
}
.text strong{
	display:block;
	margin:0 0 5px;
	font-size:16px;
	line-height:18px;
	font-weight:normal;
}
.text p{margin:0;}
.text p span{color:#cc1885;}

.main-content {
    margin-top: 25px;
}

.main-content:after{
	display:block;
	content:"";
	clear:both;
}
#content-briefing-form{
	float:right;
  width:850px;
}
#content{
	float:right;
  width:590px;
}
.inner #content{padding:0;}
#content h2{
	margin:0 0 16px;
	font-size:36px;
	line-height:38px;
	font-family:'AlternateGothic2BTRegular';
	font-weight:normal;
	color:#dad9d9;
	text-transform:uppercase;
}
.inner #content h2{
	margin:0 0 23px;
	font-size:24px;
	line-height:24px;
	font-family:'AlternateGothic2BTRegular';
	font-weight:normal;
	color:#cc1885;
}
.inner #content h2.color{
	margin:0 0 5px;
	color:#020308;
}
.nav-add{
	margin:-6px 0 24px -12px;
	padding:0 0 33px;
	list-style:none;
	height:1%;
	overflow:hidden;
	background:url(../assets/bg-nav-add.jpg) no-repeat 13px 100%;
}
.nav-add li{
	float:left;
	margin:0 7px 0 0;
	padding:0 0 0 14px;
	font-size:16px;
	line-height:18px;
	text-transform:uppercase;
	background:url(../assets/separator-7.jpg) no-repeat 0 2px;
	font-family:'AlternateGothic2BTRegular';
}
.nav-add li:first-child{background:none;}
.nav-add a{
	text-decoration:none;
	color:#020308;
}
.nav-add span{color:#cc1885;}
.nav-add a:hover{text-decoration:underline;}
.naving{
	margin:0 0 22px -12px;
	padding:0;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.naving li{
	float:left;
	margin:0 11px 0 0;
	padding:0 0 0 15px;
	font-size:24px;
	line-height:26px;
	font-family:'AlternateGothic2BTRegular';
	text-transform:uppercase;
	background:url(../assets/separator-6.jpg) no-repeat 0 4px;
}
.naving li:first-child{background:none;}
.naving a{
	text-decoration:none;
	color:#020308;
}
.search{margin:0 0 25px;}
.search span{
	display:block;
	background:url(../assets/bg-search-span.jpg) no-repeat 13px 12px;
	padding:6px 7px 6px 64px;
	border:1px solid #cbcbc1;
	height:41px;
	width:519px;
}
.search span input{
	float:left;
	padding:1px 0 3px;
	height:38px;
	width:433px;
	border:none;
	background:none;
	font-size:36px;
	line-height:38px;
	font-family:'AlternateGothic2BTRegular';
	font-weight:normal;
	color:#dad9d9;
	text-transform:uppercase;
}
.search span input.btn-search{
	float:right;
	background:url(../assets/btn-search.jpg) no-repeat;
	height:41px;
	width:75px;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
}
.search span input.btn-search:hover{background:url(../assets/btn-search-hover.jpg) no-repeat;}
#content .decor{
	margin:0 0 21px;
	background:url(../assets/bg-content-decor.jpg) no-repeat;
	width:100%;
}
.sections{
	/*margin:0 0 -28px;*/
	width:100%;
}
.sections:after{
	display:block;
	content:"";
	clear:both;
}
.section{
	margin:0 0 15px;
	padding:0 0 15px;
	width:100%;
	border-bottom:1px solid #cbcbc1;
}
.no-line{
	border:none;
	margin:0;
	padding:0 0 16px;
}
.section:after{
	display:block;
	content:"";
	clear:both;
}
.section img{
	float:right;
	display:inline;
	margin:6px 2px 5px 6px;
}

.picture-video img {
    float:none;
}

.briefing-small-image {
    float:right;
    margin: 0 0 0 15px;
}

.briefing-small-image img {
    float:none;
    margin-top:0;
}

.heading, 
.heading2{
	width:100%;
	overflow:hidden;
}
.heading ul, 
.heading2 ul{
	margin:0 0 5px -7px;
	padding:0;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.heading2 ul, .heading ul{float:left;}
.heading ul li, 
.heading2 ul li{
	float:left;
	margin:0 3px 0 0;
	padding:0 0 0 7px;
	font:bold 12px/13px Arial, Helvetica, sans-serif;
	background:url(../assets/separator-2.jpg) no-repeat 0 2px;
}
.heading ul a, 
.heading2 ul a{
	text-decoration:none;
	color:#cb1784;
}
.heading ul a:hover, 
.heading2 ul a:hover, .heading ul.nav-list3 a:hover{text-decoration:underline;}
.heading2 ul.nav-list3, .heading ul.nav-list3{margin:0;}
.heading2 ul.nav-list3 li, .heading ul.nav-list3 li{
	font:11px Arial, Helvetica, sans-serif;
	background:url(../assets/separator-3.jpg) no-repeat 0 3px;
}
.heading2 ul.nav-list3 li:first-child{background:none;}
.heading2 ul.nav-list3 a, .heading ul.nav-list3 a{color:#787879;}
.social{
	float:right;
	margin:5px 0 5px 15px;
	padding:16px 31px 2px;
	width:135px;
	border-top:2px solid #d0d0c7;
	border-bottom:1px solid #d0d0c7;
	border-left:1px solid #f5f5f3;
	border-right:1px solid #f5f5f3;
}
.social ul{
	margin:0 0 8px;
	padding:0 0 6px;
	list-style:none;
	width:120%;
	overflow:hidden;
}
.social ul.add-naving{background:url(../assets/bg-add-naving.jpg) no-repeat 0 100%;}
.social ul.add-naving li{
	padding:0 0 0 8px;
	background:url(../assets/separator-3.jpg) no-repeat 0 5px;
}
.social ul.add-naving li:first-child{background:none;}
.social ul li{
	float:left;
	margin:0 5px 0 0;
}
.social ul li img{
	float:left;
	margin:0;
}






.text-box h3{
  font-family:'Helvetica';
  font-size:16px;
  font-weight:bold;
  font-style:oblique;
}
.section h3{
	margin:0 0 13px;
	font-size:26px;
	line-height:28px;
	font-family:'AlternateGothic2BTRegular';
	font-weight:normal;
	color:#2d2d2d;
	letter-spacing:0.4px;
}
.section h3 a{
	color:#2d2d2d;
	text-decoration:none;
}
.section h3 a:hover{
	text-decoration:underline;
}
.line{
	margin:0 0 4px;
	width:100%;
}
.line:after{
	display:block;
	content:"";
	clear:both;
}
.line em{
	font-style:normal;
	font-size:11px;
	line-height:12px;
	color:#787879;
}
.open{
	font-size:11px;
	line-height:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#2d2d2d;
	text-decoration:none;
	letter-spacing:0.7px;
}
.open span{color:#cc1885;}
.popup-hover{
	float:left;
	width:auto;
	display:inline;
	position:relative;
}
.popup-hover a.open{height:1%;}
.active .popup{
	display:block;
	width:457px;
	min-height:180px;
	overflow:hidden;
}
.popup-hover a:hover{
  text-decoration:underline;
}
.popup-hover{position:relative;}
.popup-hover .popup{
	display:none;
	position:absolute;
	top:-140px;
	left:75px;
	display:none;
	width:457px;
	min-height:180px;
}
.active .popup{
	display:block;
	overflow:hidden;
	width:457px;
}
.flexbox{
	background:url(../assets/bg-popup-l.png) no-repeat;
	width:424px;
	padding:0 0 0 32px;
}
.flexbox-holder{
	width:390px;
	padding:22px 15px 8px 20px;
	background:#cc1885;
	font-size:13px;
	line-height:17px;
	color:#29282a;
	overflow:hidden;
	min-height:150px;
}
.flexbox-area{
	margin:0 0 10px;
	width:100%;
	overflow:hidden;
}
.flexbox-area img{
	float:left;
	margin:1px 19px 0 0;
}
.flexbox-box{
	height:1%;
	overflow:hidden;
}
.flexbox-block{
	margin:0 0 12px;
	padding:0 11px 0 0;
	height:1%;
	overflow:hidden;
}
.flexbox-block a{
	float:right;
	background:url(../assets/bg-popup-a.gif) no-repeat;
	height:23px;
	width:50px;
	text-indent:-9999px;
	overflow:hidden;
}
.flexbox-block strong{
	float:left;
	margin:3px 0 0;
	font-size:18px;
	font-weight:normal;
	font-family:'AlternateGothic2BTRegular';
	color:#29282a;
	text-transform:uppercase;
}
.flexbox-line{
	padding:0 3px 0 0;
	height:1%;
	overflow:hidden;
}
.flexbox-line span{float:right;}
.flexbox-line span a{
	text-decoration:none;
	font-size:18px;
	line-height:20px;
	font-family:'AlternateGothic2BTRegular';
	color:#fffefe;
}
.flexbox-line span a:hover{text-decoration:underline;}
.flexbox-line address{
	margin:0;
	font-size:18px;
	line-height:20px;
	font-style:normal;
	font-family:'AlternateGothic2BTRegular';
	color:#fffefe;
}
.flexbox-holder p{margin:0 0 5px;}
.section-holder .line{
	width:auto;
	height:1%;
}
.line ul, 
.section-holder .line ul{
	margin:0;
	padding:0;
	list-style:none;
	height:1%;
	overflow:hidden;
  display:inline;
}
.line ul li, 
.section-holder .line ul li{
  display:inline;
	margin:0 5px 0 0;
	padding:0 0 0 6px;
	background:url(../assets/separator-3.jpg) no-repeat 0 3px;
	font:italic 11px/12px Arial, Helvetica, sans-serif;
	color:#787879;
}
.line ul a, 
.section-holder .line ul a{
  display:inline;
	text-decoration:none;
	color:#787879;
	font-family:Arial, Helvetica, sans-serif;
	line-height:12px;
	font-weight:normal;
}
.section-holder .line ul a span{
	line-height:12px;
	font-weight:normal;
	float:none;
}
.line ul a:hover, 
.section-holder .line ul a:hover{text-decoration:underline;}
.line ul li:first-child{background:none;!important}
.line ul li span, 
.section-holder .line ul li span{font-style:normal;}
.line ul li img{margin:0 0 0 4px;}
.section p{margin:1;}
.section p strong{
	font-family:'AlternateGothic2BTRegular';
	font-size:12px;
	font-weight:normal;
	color:#020308;
}
.section p a{text-decoration:none;}
.section p a:hover{text-decoration:underline;}
.section-holder{width:100%;}
.section-holder:after{
	display:block;
	content:"";
	clear:both;
}
.section-holder ul{
	float:left;
	margin:0 0 0 -8px;
	padding:0;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.section-holder ul li{
	float:left;
	margin:2px 9px 0 0;
	padding:0 0 0 9px;
	background:url(../assets/separator-4.jpg) no-repeat 0 4px;
	font-size:12px;
	line-height:18px;
	color:#484747;
	font-family:'AlternateGothic2BTRegular';
	letter-spacing:0.2px;
}
.section-holder ul li:first-child{background:none;}
.section-holder ul a{
	text-decoration:none;
	font-family:'AlternateGothic2BTRegular';
	letter-spacing:0.5px;
	line-height:18px;
}
* html .section-holder ul a{word-spacing:1px;}
.section-holder ul a span{
	color:#484747;
}
.section-holder ul a strong{font-weight:normal;}
.section-holder ul a:hover em, 
.section-holder ul a:hover strong{text-decoration:underline;}
.section-holder ul.add-naving{
	float:right;
	display:inline;
	margin:-1px -6px 0 0;
}
.section-holder ul.add-naving li{
	font-size:12px;
	line-height:16px;
	font-weight:bold;
	color:#cc1885;
	font-family:Arial, Helvetica, sans-serif;
	height:1%;
	overflow:hidden;
}
.add-naving li:first-child{background:none;}
.add-naving a{
	text-decoration:none;
	color:#cc1885;
	font-weight:normal;
	color:#4d4c4c;
	font-family:'AlternateGothic2BTRegular';
	letter-spacing:0.6px;
}
.add-naving a:hover{text-decoration:underline;}
.add-naving li em{
	float:left;
	line-height:18px;
	margin:0 3px 0 0;
	font-style:normal;
}
.section .add-naving li img{
	display:inline-block;
	margin:0;
}
* html .section .add-naving li img{float:left;}
.decoration{
	background:#ededed;
	margin:9px 0 16px;
}
.decoration-holder{background:url(../assets/bg-decoration-holder.jpg) no-repeat;}
.decoration-frame{
	background:url(../assets/bg-decoration-frame.jpg) no-repeat 0 100%;
	height:1%;
	overflow:hidden;
	min-height:44px;
	padding:10px 10px 6px 12px;
	color:#3b3b3b;
        position:relative;
}
.decoration-frame p{margin:0 0 10px;}
.decoration-frame strong{
	display:block;
	margin:0 0 4px;
	font-size:26px;
	line-height:31px;
	font-weight:normal;
	color:#2d2d2d;
	font-family:'AlternateGothic2BTRegular';
	word-spacing:1px;
}
.present{
	width:100%;
	overflow:hidden;
}
.present strong{
	display:block;
	font-size:16px;
	font-weight:normal;
	color:#020308;
	font-family:'AlternateGothic2BTRegular';
}
.present span{
	display:block;
	background:url(../assets/bg-present-span.jpg) no-repeat 0 8px;
	padding:0 0 0 23px;
	line-height:25px;
}
.media, 
.images{
	margin:10px 0;
	width:100%;
	overflow:hidden;
}
.images{
	margin:0 0 22px;
	padding:0 0 17px;
	border-bottom:4px solid #cc1885;
}
.section-row{
	width:100%;
	overflow:hidden;
}
.decoration2{
	margin:6px 0 15px;
	background:#ededed;
	float:left;
	width:390px;
}
.decoration2-holder{background:url(../assets/bg-decoration2-holder.jpg) no-repeat;}
.decoration2-frame{
	background:url(../assets/bg-decoration2-frame.jpg) no-repeat 0 100%;
	height:1%;
	overflow:hidden;
	min-height:44px;
	padding:10px 2px 6px 12px;
	word-spacing:-1px;
}
.decoration2-frame p{margin:0 0 10px;}
.section-area{
	margin:0 0 0;
	padding:39px 0 0;
	background:url(../assets/bg-section-area.jpg) no-repeat;
}
.text-block{
	margin:0 0 7px;
	overflow:hidden;
	font-size:11px;
	line-height:18px;
	color:#303030;
	width:370px;
}
.text-block strong{
	display:block;
	margin:0 0 12px;
	font-size:24px;
	line-height:29px;
	color:#cc1885;
	font-weight:normal;
	font-family:'AlternateGothic2BTRegular';
}
.text-block p{margin:0 0 15px;}
.load{
	display:block;
	margin:0 0 25px;
	background:url(../assets/bg-load.jpg) no-repeat;
	height:29px;
	width:593px;
	text-indent:-9999px;
	overflow:hidden;
}
.load-briefings{
	display:block;
	margin:0 0 25px;
	background:url(../assets/bg-load3.jpg) no-repeat;
	height:29px;
	width:593px;
	text-indent:-9999px;
	overflow:hidden;
}
.load:hover{background:url(../assets/bg-load.jpg) no-repeat 0 -29px;}
.load-briefings:hover{background:url(../assets/bg-load3.jpg) no-repeat 0 -29px;}
.section-area h4{
	margin:0 0 22px;
	padding:4px 0 0 8px;
	font-size:26px;
	line-height:26px;
	font-weight:normal;
	background:#ededed;
	text-transform:uppercase;
	font-family:'AlternateGothic2BTRegular';
	color:#2d2d2d;
	width:585px;
}
.section-area h4 a{
	margin:0 0 0 25px;
	text-decoration:none;
	color:#cc1885;
}
.section-area h4 a:hover{text-decoration:underline;}
.text-box p{margin:0 0 20px;}
#sidebar{
	float:left;
	width:334px;
}
.inner #sidebar{padding:3px 0 0;}
.find{
	border:solid #f9f8f9;
	border-width:1px 0 1px 1px;
	background:#f1eef0;
	margin:0 36px 37px 0px;
	padding:9px 20px 19px 21px;
	font-size:13px;
	color:#010101;
}
.find strong{
	display:block;
	margin:0 0 10px;
	padding:0 0 9px;
	font-size:36px;
	line-height:43px;
	color:#424242;
	font-family:'AlternateGothic2BTRegular';
	font-weight:normal;
	background:url(../assets/bg-find-strong.jpg) repeat-x 0 100%;
}
.find span{
	display:block;
	background:url(../assets/bg-find-span.jpg) no-repeat 2px 0;
	margin:0 0 16px;
	padding:9px 0 0 27px;
	font-size:15px;
	font-weight:bold;
	color:#cb1784;
	letter-spacing:-0.4px;
}
.btn-find{
	display:block;
	margin:0;
	padding:0 8px 2px 27px;
	border:1px solid #dfddd9;
	width:219px;
	text-decoration:none;
}
.find .btn-find span{
	background:url(../assets/bg-btn-find.png) no-repeat 100% 14px;
	margin:0;
	padding:0;
	font-size:24px;
	line-height:36px;
	font-weight:normal;
	letter-spacing:1.3px;
	font-family:'AlternateGothic2BTRegular';
	text-transform:uppercase;
}
.btn-find:hover{background:#d7cad6;}
.find p{margin:0 0 15px 0;}
.find p a{text-decoration:none;}
.find p a:hover{text-decoration:underline;}
.decor{
	display:block;
	margin:0 0 15px 0;
	background:url(../assets/bg-decor.jpg) no-repeat;
	height:15px;
	font-weight:normal;
  clear:both;
}
.decor span{
	float:left;
	background:url(../assets/bg-decor-span.gif) no-repeat 100% 0;
	padding:0 8px 0 0;
	font-size:15px;
	line-height:16px;
	font-family:'AlternateGothic2BTRegular';
	color:#2d2d2d;
	letter-spacing:1px;
	word-spacing:1px;
  margin-right:16px;
  margin-left:33px;
}

.decor a{
        float:left;
	background:url(../assets/bg-decor-span.gif) no-repeat left top;
	padding:0;
	font-size:15px;
	line-height:16px;
	font-family:'AlternateGothic2BTRegular';
	letter-spacing:1px;
	word-spacing:1px;
        margin-right:16px;
        color:#cc1885;
        text-decoration:none;
        
}

.decor a.notifications {
        float:right;
        color:#e2e1e1;
        margin-right:60px;
        position:relative;
}

a.notifications .notifications-counter {
        display:block;
        width:30px;
        height:22px;
        color:#fff;
        background:url(../assets/notifications-counter.png) top left no-repeat;
        position:absolute;
        top:-25px;
        right:-60%;
        text-align:center;
        font-family:'Arial';
        font-size:11px;
        font-weight:bold;
}

.decor a b{
        font-weight:normal;
        padding-right:8px;
        position:relative;
        right:-8px;
        display:inline-block;
        background:url(../assets/bg-decor-span.gif) no-repeat 100% top;
}

.nav-bar{
	margin:0 0 19px 0;
	padding:0;
	list-style:none;
	width:348px;
	position:relative;
	z-index:5;
}
.nav-bar li{
	margin:0 0 10px 0;
	padding:0 0 5px 0;
	position:relative;
}
.nav-bar a{
	text-decoration:none;
}
.nav-bar a span{
	background:url(../assets/bg-quotes.jpg) no-repeat 100% 0;
	padding:0 32px 0 0;
}
.nav-bar li:hover{
	background:url(../assets/bg-nav-list-hover.jpg) repeat-x 0 100%;
	position:relative;
	z-index:13;
}
.nav-bar li:hover .dropdown{display:block;}
*+html .dropdown{top:8px;}
* html .dropdown{top:8px;}
.dropdown{
	display:none;
	position:absolute;
	top:0px;
	left:167px;
	margin:0;
	padding:0;
	list-style:none;
	width:181px;
}
.nav-bar .dropdown li{
	display:block;
	margin:0 0 3px !important;
	padding:0;
	font-size:15px;
	line-height:23px;
	font-family:'AlternateGothic2BTRegular';
	letter-spacing:0.3px;
}
*+html .nav-bar .dropdown li{
	display:inline-block;
	margin:0 0 -1px !important;
}
* html .nav-bar .dropdown li{
	display:inline-block;
	margin:0 0 -1px !important;
}
.nav-bar .dropdown a{
	display:block;
	background:#dedddd;
	padding:0 0 0 7px;
}
.nav-bar .dropdown li:hover{background:none;}
.nav-bar .dropdown li:hover a{color:#cc1885;}
.nav-list{
	margin:22px 0 36px 24px;
	padding:0;
	list-style:none;
	width:100%;
	overflow:hidden;
}
.nav-list li{
	float:left;
	margin:0 2px 2px 0;
}
.nav-list li div{
	position:relative;
	float:left;
}
.nav-list li div a{
	text-decoration:none;
	float:left;
}
.nav-list li div a span:hover{text-decoration:underline;}
.nav-list li img{position:relative;}
.nav-list li span{
	display:block;
	margin:-22px 0 0;
	z-index:3;
	position:relative;
	padding:0 2px 4px;
	font-size:10px;
	line-height:18px;
	z-index:3;
	color:#f8f7f8;
	background:url(../assets/bg-nav-list-span.png) repeat;
}
.nav-list li span.int{
	margin:-37px 0 0;
	padding:1px 9px;
	font-size:11px;
	font-weight:bold;
	line-height:17px;
}
.nav-list2{
	margin:0 0 33px 24px;
	padding:0;
	list-style:none;
	width:100%;
	overflow:hidden;
}
.nav-list2 li{
	float:left;
	margin:0 6px 5px 0;
}
.nav-list2 li img{float:left;}
.links{
	margin-top:18px;
	padding:0 0 0 1px;
	height:1%;
	overflow:hidden;
}
.links a{
	display:block;
	margin:0 0 3px;
	font:11px/14px Arial, Helvetica, sans-serif;
	color:#303030;
	text-decoration:none;
	width:280px;
}
.links a:hover{text-decoration:underline;}
.links ul{
	margin:0 0 15px -5px;
	padding:0;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.links ul li{
	float:left;
	margin:0 3px 0 0;
	padding:0 0 0 5px;
	background:url(../assets/separator.jpg) no-repeat 0 3px;
	font:italic 11px/14px Arial, Helvetica, sans-serif;
}
.links ul li:first-child{background:none;}
.links ul a{
	display:inline-block;
	font-style:italic;
	text-decoration:none;
	color:#989898;
	width:auto;
}
.links ul span{
    color:#989898;
}

#footer {
    background:#ededed;
    border-top:1px solid #cbcbc1;
    padding-top:35px;
    padding-bottom:25px;
}

#footer p {
    margin-bottom:0.4em;
}
.columns{
	margin:0;
	width:100%;
	overflow:hidden;
	font-size:12px;
	line-height:18px;
}
.column-1{
	float:left;
	padding:0 115px 0 0;
	width:245px;
}
.column-2{
	float:left;
	padding:0 30px 0 0;
	width:350px;
}
.column-3{
	float:left;
	width:180px;
}
.columns strong{
	display:block;
	margin:0 0 8px;
	text-transform:uppercase;
	color:#393839;
}
.columns p{margin:0;}
.columns p strong{
	display:inline;
	text-transform:none;
	margin:0;
}
.column-2 ul{
	margin:31px 0 0;
	padding:0;
	list-style:none;
	width:390px;
	overflow:hidden;
}
.column-2 ul li{
	float:left;
	width:169px;
	margin:0 13px 0 0;
}
.column-2 ul li ul{
	margin:0;
	padding:0;
	line-height:normal;
	width:169px;
}
.column-2 ul li ul li{
	float:none;
	background:url(../assets/bg-columns-a.jpg) repeat-x 0 100%;
	line-height:32px;
}
.column-2 ul li ul a{
	text-decoration:none;
	color:#cc1885;
}
.column-2 ul li ul a:hover{font-weight:bold;}
.column-3 ul{
	margin:-6px 0 0;
	padding:0;
	list-style:none;
}
.column-3 strong{
	padding-left:4px;
}
.column-3 ul li{
	padding:4px 0 4px;
	line-height:22px;
	height:1%;
	overflow:hidden;
	background:url(../assets/bg-column-3-li.jpg) no-repeat 25px 100%;
}
.column-3 ul li img{
	float:left;
	margin:3px 8px 0 0;
}
.column-3 ul a{
	float:left;
	width:146px;
	text-decoration:none;
	color:#cb1784;
}
.column-3 ul a:hover{text-decoration:underline;}

#footer-links {
    background:#ededed;
    border-top:1px solid #cbcbc1;
}

.footer-holder{
	padding: 15px 0 15px 0;
	height:1%;
	overflow:hidden;
}

.footer-hf{
	margin:0 auto;
	width:878px;
	overflow:hidden;
}
.copy{
	float:left;
	margin:0 17px 0 0;
	font-size:12px;
	color:#000;
}
.navigation{
	margin:0;
	padding:0;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.navigation li{
	float:left;
	margin:0 17px 0 0;
	padding:0 0 0 19px;
	background:url(../assets/separator-5.jpg) no-repeat 0 5px;
	font-size:12px;
}
.navigation a{
	text-decoration:none;
	color:#cc1885;
}
.navigation a:hover{text-decoration:underline;}
.section-holder ul li a em{
	color:#484747;
	font-style:normal;
}
.source-link{
	padding:0 14px 0 0;
	background:url(../assets/ico-1.jpg) no-repeat 100% 0;
}
.nav-add .bul-slash{
	padding-left:25px;
	background:url(../assets/bullet-slash.jpg) no-repeat 0 1px;
}
.box-comments{
	margin:0 0 24px;
	height:1%;
	overflow:hidden;
	background:#f2f2f2;
}
.comments-top{
	padding:15px 15px 0 15px;
	height:1%;
	overflow:hidden;
}
.comments-top-line{
	width:100%;
	margin:0 0 10px;
	padding:0 0 10px;
	overflow:hidden;
	background:url(../assets/hr-com.jpg) repeat-x 0 100%;
}
.comments-top strong{
	float:left;
	font-family:'AlternateGothic2BTRegular';
	font-weight:normal;
	font-size:16px;
	line-height:20px;
}
.comments-top-line span{
	float:right;
	font-size:12px;
	line-height:20px;
}
.comments-top a{
	font-size:12px;
	line-height:20px;
	text-decoration:none;
}
.comments-top a:hover{text-decoration:underline;}
.comments-block{
	width:100%;
	overflow:hidden;
}
.comments-block span{
	display:block;
	margin:0 0 9px;
}
.comments-block form{margin:0 0 8px;}
.comments-block label{
	float:left;
	margin:0 6px 0 0;
	font-size:12px;
}
.comments-block select{
	float:left;
}
.comments-top .comments-block strong{
	float:none;
	display:block;
	margin:0 0 11px;
}
.com-post{
	margin:0;
	padding:0;
	list-style:none;
}
.com-post li{
	position:relative;
	margin:0 0 11px;
	padding:9px 0 0;
	border-top:1px solid #cbcbc1;
	height:1%;
	overflow:hidden;
}
.com-post li.rep-post{
	padding-left:73px;
	background:url(../assets/ico-bul.jpg) no-repeat 50px 15px;
}
.com-post img{
	float:left;
	margin:0 21px 0 0;
}
.com-line{
	margin:0 0 9px;
	padding:5px 0 0;
	width:100%;
	overflow:hidden;
}
.com-line strong{
	font:12px/20px Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
}
.com-line a{
	float:right;
	margin:-2px 83px 0 0;
	line-height:16px;
}
.com-line .bul-rate{
	float:right;
	margin:-5px 0 0;
	padding:3px 0 0 20px;
	background:url(../assets/ico-hand.jpg) no-repeat;
	font-weight:bold;
}
.com-post p{
	display:block;
	margin:0;
}
.box-comments .com-post strong{
	line-height:12px;
}
.com-post p span{
	font-size:12px;
	color:#585859;
}
.flag{
	float:right;
	background:url(../assets/ico-flag.jpg) no-repeat;
	width:21px;
	height:16px;
	text-indent:-9999px;
	overflow:hidden;
}
.underpost{
	padding:18px 0 0;
	width:100%;
	overflow:hidden;
}
.com-form strong{
	display:block;
	margin:0 0 10px;
	padding:3px 0 0 18px;
	font-family:'AlternateGothic2BTRegular';
	background:#ededed;
	font-size:16px;
	color:#7e7d7d;
	line-height:25px;
	text-transform:uppercase;
	font-weight:normal;
}
.com-form span{
	display:block;
	margin:0 0 16px;
	padding:0 0 0 18px;
	font-size:12px;
}
.com-form span a{text-decoration:none;}
.com-form span a:hover{text-decoration:underline;}
.com-form textarea{
	margin:0 0 19px 24px;
	padding:13px 9px;
	width:531px;
	min-width:531px !important;
	max-width:531px !important;
	height:35px;
	background:#fff;
	border:none;
	overflow:hidden;
	font-size:12px;
	color:#cb1784;
}
.com-bot{
	padding:0 28px 17px 20px;
	height:1%;
	overflow:hidden;
}
.com-bot a{text-decoration:none;}
.com-bot a:hover{text-decoration:underline;}
.com-info{
	float:left;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}
.com-add{
	float:right;
	font-family:'AlternateGothic2BTRegular';
	font-size:14px;
}
.com-end{
	padding:0 0 27px;
	border-bottom:3px solid #cc1885;
	background:#fff;
}
.rel-head{
	display:block;
	margin:0 0 8px;
	font-family:'AlternateGothic2BTRegular';
	font-size:16px;
	color:#020308;
	font-weight:normal;
}

/*new*/

.textbox{
	padding:3px 15px 0 25px;
	height:1%;
	overflow:hidden;
	margin:0 0 20px;
	font-size:11px;
	line-height:13px;
	color:#303030;
	word-spacing:-1px;
}
.textbox p{margin:0 0 14px;}
#sidebar .textbox strong{
	display:block;
	margin:0 0 13px;
	font-size:11px;
	line-height:13px;
	color:#303030;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.textbox ul{
	margin:0 0 10px;
	padding:0;
	list-style:none;
	width:100%;
	overflow:hidden;
}
.textbox ul li{
	width:100%;
	overflow:hidden;
}
.textbox ul li span{
	float:left;
	font:11px/13px Arial, Helvetica, sans-serif;
	color:#303030;
	width:36px;
}
.textbox ul li p{
	margin:0;
	height:1%;
	overflow:hidden;
}
.section2{background:url(../assets/bg-section2-holder.jpg) repeat-y 2px 0;}
.section2-holder{
	margin:-1px 0 0 -13px;
	padding:4px 0 15px 21px;
	background:url(../assets/bg-section2.jpg) no-repeat 0 29px;
	height:1%;
	overflow:hidden;
}
.section2-holder span, .section6-holder span{
	display:block;
	margin:0 0 -4px;
	font-size:30px;
	line-height:30px;
	color:#9c6262;
	font-family:'AlternateGothic2BTRegular';
}
.section2-frame{
	padding:0 15px 0 17px;
	font-size:11px;
	line-height:13px;
	color:#2d2d2d;
	font-family:Helvetica, sans-serif;
}
.section2-frame strong{
	display:block;
	margin:0 0 2px;
	font-size:26px;
	line-height:32px;
	font-family:'AlternateGothic2BTRegular';
	font-weight:normal;
	letter-spacing:0.3px;
}
.section2-frame p{margin:0 0 10px;}
.section3{
	background:url(../assets/bg-section3.jpg) repeat-y 2px 0;
	padding:6px 0 67px 6px;
	height:1%;
	overflow:hidden;
}
.section3 span{
	display:block;
	margin:0 0 -4px;
	font-size:30px;
	line-height:30px;
	color:#9c6262;
	font-family:'AlternateGothic2BTRegular';
}
.section3-content{
	width:100%;
	overflow:hidden;
}
.section3-holder{
	float:right;
	display:inline;
	margin:3px 22px 2px 0;
	width:554px;
	overflow:hidden;
}
.panel{
	padding:0 0 0 1px;
	height:1%;
	overflow:hidden;
}
.panel-holder{
	float:right;
	height:1%;
	overflow:hidden;
}
.panel-holder ul{
	float:right;
	margin:0 0 0 2px;
	padding:0;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.panel-holder ul li{float:right;}
.panel-holder ul li img{
	float:right;
	border:1px solid #a5a5a5;
}
.panel strong{
	float:left;
	margin:2px 0 0;
	font-size:16px;
	line-height:23px;
	color:#9c6262;
	font-weight:normal;
	font-family:'AlternateGothic2BTRegular';
}
.section3-holder textarea, 
.textbox2, 
.section6-holder textarea{
	border:1px solid #9c6262;
	background:#fff;
	font-size:11px;
	line-height:18px;
	color:#000;
	font-family:Helvetica, sans-serif;
	margin:0 1px 0 0;
	padding:6px 10px;
	word-spacing:-1px;
	height:95px;
	width:531px;
	min-height:95px !important;
	min-width:531px !important;
	max-width:531px !important;
}
.section3-holder textarea.size{
	height:135px;
	min-height:174px !important;
}
.section6-holder textarea{
	height:54px;
	min-height:54px !important;
	width:522px;
}
.textbox2{height:auto;}
.textbox2 p{margin:0 0 15px;}
.textbox2-holder{margin:0 0 -10px;}
.textbox2 ul{
	margin:0 0 34px;
	padding:0;
	list-style:none;
	background:url(../assets/bg-textbox2-ul.jpg) repeat-y;
}
.textbox2 ul li{
	margin:0 0 12px;
	padding:0 0 0 21px;
	font-size:13px;
	line-height:13px;
}
.vidio{margin:0 0 -5px -9px;}
.vidio img{display:block;}
.section4{
	margin:0 0 22px;
	background:url(../assets/bg-section2-holder.jpg) repeat-y 2px 0;
	padding:24px 24px 8px 28px;
}
.row{
	width:100%;
	overflow:hidden;
}
.select label{
	float:left;
	margin:0 5px 0 0;
	font-size:12px;
	line-height:21px;
	font-weight:bold;
	color:#9c6262;
}
.select select{
	float:left;
	margin:0 18px 0 0;
}
.select .row{margin:0 0 11px;}
.select input{
	float:left;
	padding:1px 5px;
	height:14px;
	width:352px;
	background:#fff;
	border:1px solid #9c6262;
	font-size:12px;
	line-height:13px;
	color:#9c6262;
}
.select input.btn-select{
	float:right;
	display:inline;
	margin:10px 5px 0 0;
	background:url(../assets/btn-select.jpg) no-repeat;
	height:20px;
	width:69px;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
	border:none;
}
.section5{
	margin:-16px 0 3px 5px;
	font-size:12px;
	line-height:15px;
	color:#020308;
	height:1%;
	overflow:hidden;
}
.section5 p{margin:0 0 10px;}
.section6{background:url(../assets/bg-section2-holder.jpg) repeat-y 2px 0;}
.section6-holder{
	margin:-1px 0 0 -13px;
	padding:1px 0 23px 17px;
	background:url(../assets/bg-section2.jpg) no-repeat 0 29px;
	height:1%;
	overflow:hidden;
}
.size1 {
  float:left;
	margin:0 0 7px;
	font-size:18px;
	line-height:20px;
	font-family:'AlternateGothic2BTRegular';
}
.size2{
	float:left;
	margin:0 0 7px;
	font-size:26px;
	line-height:28px;
	font-family:'AlternateGothic2BTRegular';
}
.section6-box{
	float:right;
	display:inline;
	margin:8px 20px 0 0;
	width:555px;
}
.section6-box strong{
	display:block;
	font-size:16px;
	line-height:18px;
	font-weight:normal;
	color:#9c6262;
	font-family:'AlternateGothic2BTRegular';
}
.section6 .textbox2{
	height:1%;
	overflow:hidden;
}
.section6-holder .textbox2{
	margin:0 0 7px;
	padding:8px 6px 0;
}
.section6-holder .textbox2 span{
	display:block;
	margin:0 0 41px;
	font-size:26px;
	line-height:28px;
	color:#ededed;
	float:none;
}
.section6-holder .textbox2 span em{
	font-style:normal;
	color:#2d2d2d;
}
.textbox2-block{height:1%;}
.textbox2-block:after{
	display:block;
	content:"";
	clear:both;
}
.textbox2-block i{
	float:left;
	display:inline;
	margin:4px 0 0 -16px;
	font-style:normal;
	font-size:14px;
	line-height:16px;
	color:#9c6262;
	font-family:'AlternateGothic2BTRegular';
}
.nav-bar2{
	margin:0 0 19px 24px;
	padding:0;
	list-style:none;
	width:348px;
	position:relative;
	z-index:5;
}
.nav-bar2 li{
	margin:0 0 1px;
	padding:0 0 15px;
	position:relative;
}
.nav-bar2 a{
	text-decoration:none;
	color:#494949;
}
.nav-bar2 a:hover{color:#d33795;}
.info{margin:0 25px;}
.info strong{
	display:block;
	font-size:11px;
	line-height:14px;
	color:#303030;
	font-weight:normal;
}
.info em{
	display:block;
	font-size:11px;
	line-height:14px;
	color:#656565;
}
.info-line{
	height:1%;
	overflow:hidden;
	margin:0 0 15px;
}
.info a{
	display:inline-block;
	margin:0 0 45px;
	font-size:11px;
	line-height:14px;
	color:#da56a6;
	text-decoration:none;
}
.info a:hover{text-decoration:underline;}
.load2{
	display:block;
	margin:0 0 25px;
	background:url(../assets/bg-load2.jpg) no-repeat;
	height:29px;
	width:593px;
	text-indent:-9999px;
	overflow:hidden;
}
.load2:hover{background:url(../assets/bg-load2.jpg) no-repeat 0 -29px;}
.add-nav2{
	margin:27px 0 50px 1px;
	padding:0;
	list-style:none;
	width:110%;
	overflow:hidden;
}
.add-nav2 li{
	float:left;
	width:190px;
	margin:0 10px 52px 0;
}
.position{
	height:225px;
	background:#ccc;
	position:relative;
}
.position img{
	position:absolute;
	top:0;
	left:0;
}
.position span{
	position:absolute;
	top:191px;
	left:9px;
	font-size:14px;
	line-height:36px;
	text-transform:uppercase;
	color:#cc1885;
	font-family:'AlternateGothic2BTRegular';
}
.plus{
	position:absolute;
	top:167px;
	left:141px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../assets/bg-plus.png) no-repeat;
	height:43px;
	width:43px;
}
.plus2{
	position:absolute;
	top:183px;
	left:157px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../assets/bg-plus2.png) no-repeat;
	height:14px;
	width:24px;
}
.position2{
	width:100%;
	padding:4px 0 3px;
	overflow:hidden;
	background:#eae8e8;
}
.position2 strong{
	display:block;
	margin:0 0 0 11px;
	font-size:18px;
	line-height:20px;
	color:#303030;
	font-weight:normal;
	font-family:'AlternateGothic2BTRegular';
}
.position2 em{
	display:block;
	margin:0 0 6px 11px;
	font-size:14px;
	line-height:16px;
	color:#303030;
	font-style:normal;
	font-family:'AlternateGothic2BTRegular';
}
.position2 i{
	display:block;
	margin:0 0 4px;
	padding:0 6px 9px 0;
	text-align:right;
	font-size:11px;
	line-height:12px;
	color:#303030;
	font-style:normal;
	background:#dddada;
}
.position2 span{
	display:block;
	margin:0 0 2px 11px;
	font-size:11px;
	line-height:12px;
	color:#131313;
	font-style:normal;
}
.position2 b{
	display:block;
	margin:0 0 9px 11px;
	font-size:14px;
	line-height:16px;
	color:#303030;
	font-weight:normal;
	font-family:'AlternateGothic2BTRegular';
}
.position2-holder{
	height:1%;
	overflow:hidden;
	margin:0 0 0 11px;
}
.position2-holder a{
	display:inline;
	color:#cc1885;
	text-decoration:none;
	font-size:11px;
	line-height:14px;
}
.position2-holder a:hover{text-decoration:underline;}
.sections-box{
	width:100%;
	overflow:hidden;
	margin:0 0 -74px;
}

.edit-link {
        padding-left:15px;
        background:url(../assets/icon-edit.png) top left no-repeat;
        color:#3b3b3b;
        font-size:11px;
        text-decoration:none;
}

.edit-link:hover {
        text-decoration:underline;
}

.edit-block {
        text-align:right;
}

.decoration-frame .edit-link {
        position:absolute;
        bottom:2px;
        right:5px;
}

#profile-block, .profile-block {
        margin: 0;
        width:290px;
}

.profile-picture {
        width:100%;
        overflow:hidden;
        background:#EAE8E8;
        text-align:center;
}

.profile-socmedia {
        background:#cccccc;
        padding: 10px 13px;
}

.profile-socmedia img {
        display: inline-block;
        margin-right:4px;
}

.link-follow-me {
        color:#353334;
        font-size:11px;
        float:right;
        text-decoration:none;
}

.link-follow-me:hover {
        text-decoration:underline;
}

.profile-bio {
        background:#eae8e8;
        padding: 10px 13px;
}

.profile-bio h4, .profile-bio h5, .profile-bio p {
        margin:0;
        color:#303030;
}

.profile-bio h4 {
        font-weight:normal;
	font-family:'AlternateGothic2BTRegular';
        font-size:18px;
}

.profile-bio h5 {
        font-weight:normal;
	font-family:'AlternateGothic2BTRegular';
        font-size:14px;
}

.profile-bio p {
        font-size:11px;
}

.profile-bio .bio-section {
        margin-bottom: 6px;
}

.profile-brief {
        background: #dddada;
        padding: 10px 13px;
        font-size:11px;
}

.start-conversation {
        margin: 16px 0 0 24px;
        width:290px;
        margin-bottom:50px;
}

.start-conversation a {
        display:block;
        background: #eae8e8;
        padding: 10px 13px;
        position:relative;
        color:#2d2d2d;
        font-size:11px;
        text-decoration:none;
}

.start-conversation a span {
        color:#cc1885;
        font-family:'AlternateGothic2BTRegular';
        font-size:18px;
        text-transform:uppercase;
}

.start-conversation a i {
        display:block;
        width:50px;
        height:25px;
        position:absolute;
        background:url('../assets/bg-add-question.png') center center no-repeat;
        bottom:-25px;
        left:0;
}

.links a.add-question-answer {
        display:block;
        font-family:'AlternateGothic2BTRegular';
        font-size:12px;
        text-transform:uppercase;
        margin-bottom:20px;
}

.form-section {
    clear:both;
    display:block;
    margin-bottom:1em;
    overflow:hidden;
}

.form-section input[type=text], .form-section input[type=password] {
    float:none;
}

.form-section .size1, .form-section .size2 {
    width:350px;
}

.form-section .size3 {
    width:875px;
}

.form-section label {
    display:block;
    font-family:'AlternateGothic2BTRegular';
    font-size:14px;
}

.sections fieldset {
    margin-bottom:2em;
}

.form-section-save {
    padding-top:20px;
}

.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
/*.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}*/
.success, .notice {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
/*.notice a {color:#514721;}*/
.success a, .notice a {color:#264409;}
.info a {color:#205791;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}

.picture-video {
    text-align:center;
    margin:0 0 15px 0;
    border-top:1px solid #CBCBC1;
    border-bottom:1px solid #CBCBC1;
    padding: 15px 0;
}

.book_link {
    background: url(../assets/icon-book.png) left center no-repeat;
    padding-left: 30px;
}

.book_link, .book_link a {
    color:#000;
    text-decoration:none;
    font-size:10px;
    font-weight:bold;
}

.book_link a:hover {
    text-decoration:underline;
}




/*
	Slideshow
*/

#slider {
	z-index:100;
  width:955px;
  position:relative;
  display:block;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:955px;
	overflow:hidden;
	position:relative;
	display:none;
  display:block;
}

#slider .slide_textbox {
    display:block;
    float:right;
    width:320px;
    color:#fff;
}

#slider .slide_textbox strong {
    font-size:28px;
    display:block;
    font-weight:normal;
    font-family:'AlternateGothic2BTRegular';
    margin-bottom:20px;
    margin-top:10px;
		line-height: 1em;
}

#slider .slide_textbox span {
    font-family:'AlternateGothic2BTRegular';
    font-size: 16px;
    text-transform:uppercase;
}

#slider .slide_textbox strong a {
    color:#fff;
    text-decoration:none;
}

#slider .slide_textbox strong a:hover {
    color:#fff;
    text-decoration:underline;
}

#slider .slide_textbox span a {
    color:#fff;
    text-decoration:none;
}

#slider .slide_textbox span a:hover {
    color:#fff;
    text-decoration:underline;
}

/*
	Next/prev buttons
*/

#slider .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slider .next {
	left:585px;
}

/*
	Pagination
*/

#slider .pagination {
  margin:0;
  padding:0;
	width:100px;
  position:absolute;
  top:393px;
  left:635px;
}

#slider .pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

#slider .pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../assets/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

#slider .pagination li.current a {
	background-position:0 -12px;
}

label.answer-label {
    margin: 2px 0 0;
    font-size: 16px;
    line-height: 23px;
    color: #9C6262;
    font-weight: normal;
    font-family: 'AlternateGothic2BTRegular';
    text-transform:uppercase;
    display:block;
}

input.anwer-input {
    padding: 1px 5px;
    height: 14px;
    background: white;
    border: 1px solid #9C6262;
    font-size: 12px;
    line-height: 13px;
}

.anwers-form-section {
    padding:10px 0 0 8px;
    display:block;
    clear:both;
}

.video-teaser {
    display:inline-block;
    cursor:pointer;
    position:relative;
}

.video-teaser-icon {
    display:block;
    width:119px;
    height:117px;
    background:url(../assets/video-play.png) center no-repeat;
    position:absolute;
    top:140px;
    left:240px;
}

.question_small a {
  margin: 0 0 10px 0;
}

.social-links {
  margin: 0 0 10px 0;
  padding: 0 0 0 0;
  overflow: visible;
  position: relative;
  list-style: none outside none;
  display: block;
}
.social-links li {
  float: left;
  margin: 0 0 0 0;
}
