<% content_for :sidebar do %>
  <div id="sidebar">
		<%= render 'shared/nav_sidebar' %>
	</div>
<% end %>

<h2>FEATURED BRIEFINGS</h2>
<form class="search" action="#">
	<fieldset>
		<div class="row">
			<span>
				<input type="text" value="SEARCH QUERY HERE" />
				<input type="submit" value="" class="btn-search" />
			</span>

		</div>
	</fieldset>
</form>
<ul class="nav-add">
	<li><a href="#"><span><%= @briefings.count %></span> FEATURED BRIEFINGS</a></li>
	<li><a href="#"><span>?</span> COMMENTS</a></li>

	<li class="bul-slash"><a href="#">RATING</a></li>
	<li><a href="#"><span>POPULARITY</span></a></li>
	<li><a href="#">DATE</a></li>
</ul>
<!-- sections -->
<div class="sections">
  <% @briefings.each do |briefing| %>
	  <%= render briefing %>
	<% end %>
</div>
<div class="section-area">
	<h4>ARE YOU A PASSIONATE VENTURE REPORTER?  <a href="#">PLEASE CONTACT US ></a></h4>
	<a href="#" class="load">LOAD MORE Q&amp;As</a>
</div>
